{% extends '../layout/layout.html' %} {% block content %}

<!-- rts banner area start -->
<div class="rts-banner-area-one home-five rts-section-gap">
  <div class="box-one-top"></div>
  <div class="box-one-bottom"></div>
  <div class="container pt--120 pt_sm--80">
    <div class="row align-items-center">
      <div
        class="col-lg-5 order-xl-1 order-lg-1 order-md-6 order-sm-2 order-2 mt_md--100 mt_sm--100"
      >
        <div class="banner-one-content-left">
          <h1 class="title split-collab">
            Logos, <br />
            <span>formação cristã para a vida</span><br />
          </h1>
          <p class="disc">
            Há <b>30 anos</b> formando cidadãos éticos e competentes através da
            educação cristã. <b>#1 no ENEM Ananindeua, TOP 10 no ENEM Pará</b>.
            Descubra a diferença de uma educação integral que prepara seu filho
            para a vida e <b>para a eternidade.</b>
          </p>
          <div class="button-banner-one-wrapper">
            <a href="{% url 'bookDemo' %}" class="rts-btn btn-primary"
              >Agende a sua visita</a
            >
            <div class="customer-review-area">
              <div class="client-img">
                <img
                  class="one"
                  src="/static/images/testimonials/avatars/01.png"
                  alt="png-img"
                />
                <img
                  class="two"
                  src="/static/images/testimonials/avatars/02.png"
                  alt="png-img"
                />
                <img
                  class="three"
                  src="/static/images/testimonials/avatars/03.png"
                  alt="png-img"
                />
                <img
                  class="four"
                  src="/static/images/testimonials/avatars/07.png"
                  alt="png-img"
                />
              </div>
              <p class="desc">Baseado em 127 avaliações</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-7 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-1 d-flex justify-content-end justify-content-md-center justify-content-sm-center"
      >
        <div class="banner-one-right-content-with-img">
          <img src="/static/images/banner/01.png" alt="banner_image" />

          <div class="short-image-area">
            <img
              src="/static/images/banner/short/01.png"
              alt="banner"
              class="img-1"
              width="200"
            />
            <img
              src="/static/images/banner/short/02.png"
              alt="banner"
              class="img-2"
              width="286"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="radious-shape">
    <img
      class="right-top"
      src="/static/images/banner/short/03.png"
      alt="banner_image"
    />
    <img
      class="mid-top"
      src="/static/images/banner/short/05.png"
      alt="banner_image"
    />
    <img
      class="left-bottom"
      src="/static/images/banner/short/04.png"
      alt="banner_image"
    />
    <img
      class="center-bottom"
      src="/static/images/banner/short/06.png"
      alt="banner_image"
    />
  </div>

  <div class="container rts-section-gapTop">
    <div class="row pt--120 pt_md--40 pt_sm--30">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <div class="brand-left-short-title-one">
          <p class="disc">
            Trusted by <br />
            Top Companies
          </p>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-12 mt_sm--30">
        <div class="brand-area-wrapper-one">
          <div class="light swiper mySwiper-brand-1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/01.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/02.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/03.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/04.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/05.svg" alt="brand"
                /></a>
              </div>
            </div>
          </div>

          <div class="dark swiper mySwiper-brand-1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/21.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/22.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/23.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/24.svg" alt="brand"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/images/brand/21.svg" alt="brand"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts banner area end -->

<!-- providing service area start -->
<div class="providing-service-area-start-one rts-section-gap">
  <div class="container-2">
    <div class="row g-5 align-items-center single-service-row-1">
      <div class="col-lg-6">
        <div class="image-area-service-1">
          <div class="thumbnail-service-1">
            <img src="/static/images/service/01.jpg" alt="service-area" />
          </div>
          <img
            src="/static/images/service/03.png"
            alt="service"
            class="images-2 small"
            width="286"
          />
        </div>
      </div>
      <div class="col-lg-6 pl--120 pl_md--15 pl_sm--15">
        <!-- service contant wrapper main one -->
        <div class="service-content-style-one">
          <h3 class="title split-collab">Educação Cristã</h3>
          <p class="disc">
            Uma educação cristã que vai além. No Centro Educacional Logos,
            integramos excelência acadêmica com valores bíblicos, formando
            cidadãos íntegros e preparados para o mundo.
          </p>
          <a href="{% url 'serviceSingle' %}" class="under-line-btn"
            >Conheça nossa metodologia</a
          >
        </div>
        <!-- service contant wrapper main one end -->
      </div>
    </div>
    <div class="row g-5 align-items-center mt--50">
      <div class="col-lg-6">
        <!-- service contant wrapper main one -->
        <div class="service-content-style-one">
          <h3 class="title split-collab">Formação integral</h3>
          <p class="disc">
            Nossa formação integral desenvolve as dimensões intelectual,
            emocional, social e espiritual. Com 1º lugar no ENEM Ananindeua,
            oferecemos educação de excelência que prepara para a vida e
            universidade.
          </p>
          <a href="{% url 'serviceSingle' %}" class="under-line-btn"
            >Conheça nossa infraestrutura</a
          >
        </div>
        <!-- service contant wrapper main one end -->
      </div>
      <div class="col-lg-6">
        <div class="image-area-service-1 bottom-1">
          <div class="thumbnail-service-1">
            <img src="/static/images/service/02.jpg" alt="service-area" />
          </div>
          <img
            src="/static/images/service/07.png"
            alt="service"
            class="images-2 small"
            width="200"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="shape-area">
    <img
      class="one"
      src="/static/images/service/shape/01.png"
      alt="Service_Shave"
    />
    <img
      class="two"
      src="/static/images/service/shape/02.png"
      alt="Service_Shave"
    />
    <img
      class="three"
      src="/static/images/service/shape/03.png"
      alt="Service_Shave"
    />
    <img
      class="four"
      src="/static/images/service/shape/04.png"
      alt="Service_Shave"
    />
    <img
      class="five"
      src="/static/images/service/shape/05.png"
      alt="Service_Shave"
    />
    <img
      class="six"
      src="/static/images/service/shape/06.png"
      alt="Service_Shave"
    />
  </div>
</div>
<!-- providing service area end -->

<!-- rts portfolio area start -->
<div class="rts-product-area-six">
  <div class="section-inner">
    <div class="top-inner section-bg2">
      <ul class="marquee">
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
      </ul>
    </div>
    <div class="bottom-inner section-bg2">
      <ul class="marquee">
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- rts portfolio area end -->

<!-- rts about area  -->
<div class="rts-about-area rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-style-one-center">
          <span class="pre">Junte-se a nossa comunidade</span>
          <h2 class="title skew-up">
            <b>Centro Educacional Logos</b>, <br />
            uma escola cristã para a vida
          </h2>
        </div>
      </div>
    </div>
    <div class="row mt--70">
      <div class="col-lg-12">
        <div class="about-large-image-bg"></div>
      </div>
    </div>
    <div class="row g-5 plr--60 mt-dec-working-step plr_sm--0">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <!-- single working -process area start -->
        <div class="single-working-process">
          <h5 class="number">01</h5>
          <h3 class="title">30 Anos de Tradição</h3>
          <p class="disc">
            <b>Tradição e Excelência.</b> Três décadas formando líderes cristãos
            em Ananindeua com milhares de vidas transformadas e valores que
            atravessam gerações.
          </p>
        </div>
        <!-- single working -process area end -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <!-- single working -process area start -->
        <div class="single-working-process">
          <h5 class="number">02</h5>
          <h3 class="title">#1 no ENEM</h3>
          <p class="disc">
            <b>Aprovação Comprovada.</b> 1º lugar ENEM Ananindeua, TOP 10 ENEM
            Pará. Em média 95% de aprovação nos vestibulares. Com alunos nas
            melhores universidades do país.
          </p>
        </div>
        <!-- single working -process area end -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <!-- single working -process area start -->
        <div class="single-working-process">
          <h5 class="number">03</h5>
          <h3 class="title">Educação Cristã Integral</h3>
          <p class="disc">
            <b>Valores que Transformam.</b> Metodologia cristã reformada
            desenvolve caráter, integridade e excelência formando cidadãos
            éticos que impactam comunidades.
          </p>
        </div>
        <!-- single working -process area end -->
      </div>
    </div>
    <div class="row plr--60 mt--80 plr_sm--15">
      <div class="col-lg-12 plr--50 plr_sm--15">
        <div class="step-down-text-process">
          <p class="disc">
            O Centro Educacional Logos é uma comunidade cristã comprometida com
            formação integral. Há 30 anos em Ananindeua, desenvolvemos jovens
            capazes de liderar com integridade, servir com amor e transformar
            sociedade através de princípios bíblicos sólidos.
          </p>
          <div class="shape-area-img">
            <img
              class="one"
              src="/static/images/about/shape/01.png"
              alt="shape"
            />
            <img
              class="two"
              src="/static/images/about/shape/02.png"
              alt="shape"
            />
            <img
              class="three"
              src="/static/images/about/shape/03.png"
              alt="shape"
            />
            <img
              class="four"
              src="/static/images/about/shape/04.png"
              alt="shape"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts about area end -->

<!-- rts counter up area start -->
<div class="rts-counterup-area rts-section-gap">
  <div class="container">
    <div class="row pb--80">
      <div class="col-lg-12">
        <div class="counter-upmain-wrapper-style-one">
          <!-- single counter up area start -->
          <div class="single-counter-up">
            <h3 class="title"><span class="counter">30</span>anos</h3>
            <p>Formando gerações em Ananindeua</p>
          </div>
          <!-- single counter up area end -->
          <!-- single counter up area start -->
          <div class="single-counter-up">
            <h3 class="title">+<span class="counter">90</span>%</h3>
            <p>de aprovação nas universidades</p>
          </div>
          <!-- single counter up area end -->
          <!-- single counter up area start -->
          <div class="single-counter-up">
            <h3 class="title">TOP<span class="counter">10</span></h3>
            <p>ENEM Pará</p>
          </div>
          <!-- single counter up area end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts counter up area end -->

<!-- rts testimonials area start -->
<div class="rts-testimonials-area-one rts-section-gap section-bg">
  <div class="container">
    <div class="row">
      <div class="col-gl-12">
        <div class="title-style-one-left">
          <span class="pre">Nossos clientes</span>
          <h2 class="title split-collab">
            O Logos é desenhado <br />
            pensando no seu dia a dia.
          </h2>
        </div>
      </div>
    </div>
    <div class="row mt--60">
      <div class="col-lg-12">
        <div class="overflow-right-div">
          <!-- testimonails swiper main wrapper -->
          <div class="testimonials-swiper-one-wrapper">
            <div class="swiper mySwiper-testimonials-one">
              <div class="swiper-wrapper">
                <!-- single slider -->
                <div class="swiper-slide">
                  <div class="single-testimonials-area">
                    <p class="disc">
                      “Escolhi o Centro Educacional Logos pela tradição em
                      educação cristã e não me arrependo. Minha filha
                      desenvolveu não apenas excelência acadêmica, mas valores
                      sólidos que a acompanharão por toda vida. A aprovação na
                      UFPA foi consequência natural de uma formação de
                      qualidade.”
                    </p>
                    <div class="author-area">
                      <a href="#" class="avatar">
                        <img
                          src="/static/images/testimonials/avatars/01.png"
                          alt="marketing"
                        />
                      </a>
                      <div class="information">
                        <h6 class="title">Ana Carolina Mendes</h6>
                        <span>Mãe da Beatriz - 3º ano EM</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single slider -->
                <!-- single slider -->
                <div class="swiper-slide">
                  <div class="single-testimonials-area">
                    <p class="disc">
                      Como família cristã, buscávamos uma escola que
                      compartilhasse nossos valores sem abrir mão da qualidade
                      acadêmica. No Logos encontramos professores cristãos
                      comprometidos, metodologia inovadora e ambiente seguro.
                      Felipe cresceu em caráter e conhecimento.
                    </p>
                    <div class="author-area">
                      <a href="#" class="avatar">
                        <img
                          src="/static/images/testimonials/avatars/02.png"
                          alt="marketing"
                        />
                      </a>
                      <div class="information">
                        <h6 class="title">Roberto Santos</h6>
                        <span>Pai do Felipe - 9º ano</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single slider -->
                <!-- single slider -->
                <div class="swiper-slide">
                  <div class="single-testimonials-area">
                    <p class="disc">
                      A educação cristã do Logos fez toda diferença na formação
                      da minha filha. Ela desenvolveu pensamento crítico baseado
                      em princípios bíblicos, autoestima saudável e paixão pelo
                      aprendizado. Recomendo para todas as famílias cristãs que
                      buscam uma escola na região de Belém que ensine valores
                      sólidos.
                    </p>
                    <div class="author-area">
                      <a href="#" class="avatar">
                        <img
                          src="/static/images/testimonials/avatars/03.png"
                          alt="marketing"
                        />
                      </a>
                      <div class="information">
                        <h6 class="title">Mariana Costa</h6>
                        <span>Mãe da Laura - 6º ano</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single slider -->
                <!-- single slider -->
                <div class="swiper-slide">
                  <div class="single-testimonials-area">
                    <p class="disc">
                      Nossos quatros filhos estudaram no Centro Educacional
                      Logos. Todos foram aprovados nos cursos e universidades
                      que quiseram e mantêm um testemunho e uma vida cristã
                      ativa. A escola realmente cumpre sua missão de formar
                      cidadãos éticos e competentes. Eu sempre estou indicando o
                      Logos, onde quer que eu vá!
                    </p>
                    <div class="author-area">
                      <a href="#" class="avatar">
                        <img
                          src="/static/images/testimonials/avatars/01.png"
                          alt="marketing"
                        />
                      </a>
                      <div class="information">
                        <h6 class="title">Família Marcon</h6>
                        <span>Pais de 4 alunos</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single slider -->
              </div>
            </div>
          </div>
          <!-- testimonails swiper main wrapper end -->
        </div>
        <div class="button-pagination-area">
          <div class="swiper-pagination"></div>
          <div class="button-wrapper">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- shape area start -->
  <div class="shape-area">
    <img
      src="/static/images/testimonials/shape/01.png"
      alt="shape"
      class="one"
    />
    <img
      src="/static/images/testimonials/shape/02.png"
      alt="shape"
      class="two"
    />
  </div>
  <!-- shape area end -->
</div>
<!-- rts testimonials area end -->

<!-- rts footer area start -->
<div class="rts-footer-area-one pt--80 pb--80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- footer top area -->
        <div class="footer-top-area">
          <div class="logo-area">
            <a href="#">
              <img
                class="light"
                src="/static/images/logo/logo-1.svg"
                alt="logo"
              />
              <img
                class="dark"
                src="/static/images/logo/logo-one-dark.svg"
                alt="logo"
              />
            </a>
          </div>
          <ul class="social-area-one">
            <li>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
          </ul>
        </div>
        <!-- footer top area end -->
      </div>
    </div>
    <div class="row g-48 g-lg-0 pt--40">
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="single-footer-wized-one">
          <h6 class="title">Solutions</h6>
          <ul>
            <li><a href="#">Content Marketing</a></li>
            <li><a href="#">Consumer Insights</a></li>
            <li><a href="#">SEO Content Strategy</a></li>
            <li><a href="#">Keyword Research</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="single-footer-wized-one">
          <h6 class="title">Resources</h6>
          <ul>
            <li><a href="#">Insights</a></li>
            <li><a href="#">Keyword Generator</a></li>
            <li><a href="#">Research Tool</a></li>
            <li><a href="#">News & Events</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="single-footer-wized-one">
          <h6 class="title">Company</h6>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="single-footer-wized-one">
          <h6 class="title">Other links</h6>
          <ul>
            <li><a href="#">Content Marketing</a></li>
            <li><a href="#">Consumer Insights</a></li>
            <li><a href="#">SEO Content Strategy</a></li>
            <li><a href="#">Keyword Research</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <!-- footer input wrapper inbner-main area -->
        <div class="footer-input-main-wrapper-one">
          <div class="single-footer-wized-one">
            <h6 class="title">Newsletter</h6>
            <form action="#">
              <input type="email" placeholder="Email address.." required />
              <i class="fa-regular fa-envelope"></i>
              <button class="rts-btn btn-primary">Subscribe now</button>
            </form>
          </div>
        </div>
        <!-- footer input wrapper inbner-main area end -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- copyright area start -->
        <div class="copyright-area-start">
          <p>© 2023 Fluxi, All right reserved.</p>
          <ul>
            <li><a href="{% url 'privacyPolicy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms' %}">Terms of service</a></li>
          </ul>
        </div>
        <!-- copyright area end -->
      </div>
    </div>
  </div>
</div>
<!-- rts footer area end -->

{% endblock content %}
