{% extends '../layout/layout.html' %} {% block content %}

<!-- header area start -->
<header class="header-style-one style-six header--sticky">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-style-one-wrapper">
          <div class="logo-area">
            <a href="{% url 'index' %}" class="logo">
              <img
                class="light"
                src="/static/images/logo/logo-1.svg"
                alt="logo"
              />
              <img
                class="dark"
                src="/static/images/logo/logo-one-dark.svg"
                alt="logo"
              />
            </a>
          </div>
          <nav class="main-nav-area">
            <ul class="list-unstyled fluxi-desktop-menu">
              <li class="menu-item fluxi-has-dropdown">
                <a href="#" class="fluxi-dropdown-main-element">Home</a>
                <!-- Start Dropdown Menu -->
                <ul class="fluxi-submenu list-unstyled menu-home">
                  <li class="nav-item">
                    <a class="nav-link page" href="{% url 'index' %}"
                      >SEO Marketing</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexTwo' %}"
                      >Digital Marketing</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexThree' %}"
                      >Digital Agency</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexFour' %}"
                      >Startup Agency</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexFive' %}"
                      >Advertising agency</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexSix' %}"
                      >Web Design Agency</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexSeven' %}"
                      >Social Media agency</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexEight' %}"
                      >SEO Agency</a
                    >
                  </li>
                </ul>
                <!-- End Dropdown Menu -->
              </li>
              <li class="menu-item fluxi-has-dropdown">
                <a href="#" class="fluxi-dropdown-main-element">Pages</a>
                <!-- Start Dropdown Menu -->
                <ul class="fluxi-submenu list-unstyled menu-home">
                  <li class="nav-item">
                    <a class="nav-link page" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link page" href="{% url 'team' %}"
                      >Our Team</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link page" href="{% url 'faq' %}">FAQ's</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'bookDemo' %}"
                      >Book a Demo</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'free' %}">Free Audit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pricing' %}"
                      >Pricing Plans</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pageError' %}"
                      >404 Page</a
                    >
                  </li>
                </ul>
                <!-- End Dropdown Menu -->
              </li>
              <li class="menu-item fluxi-has-dropdown">
                <a href="#" class="fluxi-dropdown-main-element">Services</a>
                <!-- Start Dropdown Menu -->
                <ul class="fluxi-submenu list-unstyled menu-home">
                  <li class="nav-item">
                    <a class="nav-link page" href="{% url 'service' %}"
                      >Service</a
                    >
                  </li>
                  <li class="nav-item sub-dropdown">
                    <a href="#" class="nav-link sub-menu-link"
                      >Service Details</a
                    >
                    <ul class="fluxi-submenu third-lvl base">
                      <li>
                        <a
                          class="mobile-menu-link"
                          href="{% url 'serviceSingle' %}"
                          >Paid Search Marketing</a
                        >
                      </li>
                      <li>
                        <a
                          class="mobile-menu-link"
                          href="{% url 'emailMarketing' %}"
                          >Email Marketing</a
                        >
                      </li>
                      <li>
                        <a
                          class="mobile-menu-link"
                          href="{% url 'socialMediaMarketing' %}"
                          >Social Media Marketing</a
                        >
                      </li>
                      <li>
                        <a
                          class="mobile-menu-link"
                          href="{% url 'influencerMarketing' %}"
                          >Influencer Marketing</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
                <!-- End Dropdown Menu -->
              </li>
              <li class="menu-item fluxi-has-dropdown">
                <a href="#" class="fluxi-dropdown-main-element">Work</a>
                <!-- Start Dropdown Menu -->
                <ul class="fluxi-submenu list-unstyled menu-home">
                  <li class="nav-item">
                    <a class="nav-link page" href="{% url 'caseStudies' %}"
                      >Case Studies</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'singleCaseStudies' %}"
                      >Case Studies Details</a
                    >
                  </li>
                </ul>
                <!-- End Dropdown Menu -->
              </li>
              <li class="menu-item fluxi-has-dropdown">
                <a href="#" class="fluxi-dropdown-main-element">Blog</a>
                <!-- Start Dropdown Menu -->
                <ul class="fluxi-submenu list-unstyled menu-home">
                  <li class="nav-item">
                    <a class="nav-link page" href="{% url 'blog' %}">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogLeftSidebar' %}"
                      >Blog Left Sidebar</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogGrid' %}"
                      >Blog Grid</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogGrid2' %}"
                      >Blog Grid Right Sidebar</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogGrid3' %}"
                      >Blog Grid Left Sidebar</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogDetails' %}"
                      >Blog Details</a
                    >
                  </li>
                </ul>
                <!-- End Dropdown Menu -->
              </li>

              <li class="menu-item">
                <a
                  class="main-element fluxi-dropdown-main-element"
                  href="{% url 'contact' %}"
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
          <div class="button-area-start">
            <a href="#" class="text-btn">Log In</a>
            <a href="#" class="rts-btn btn-primary-6">Request a demo</a>
            <div class="menu-btn" id="menu-btn">
              <svg
                width="20"
                height="16"
                viewBox="0 0 20 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect y="14" width="20" height="2" fill="#1F1F25"></rect>
                <rect y="7" width="20" height="2" fill="#1F1F25"></rect>
                <rect width="20" height="2" fill="#1F1F25"></rect>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->

<!-- rts banner area start -->
<div class="rts-banner-area-one banner-six rts-section-gapTop">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="banner-six-content-left">
          <h1 class="title split-collab">
            Logos, uma escola <br />
            para a vida!<br />
          </h1>
          <p class="disc">
            Do maternal ao convênio. Uma escola cristã de valores.
          </p>
          <div class="button-area">
            <a
              href="{% url 'contact' %}"
              class="rts-btn btn-primary-5 arrow-rotate"
              >Agende a sua visita <i class="fa-light fa-arrow-right"></i
            ></a>
          </div>
          <div class="counter-upmain-wrapper-style-six">
            <!-- single counter up area start -->
            <div class="single-counter-up-six">
              <h3 class="title">+<span class="counter">30</span>anos</h3>
              <p>de excelência em ensino</p>
            </div>
            <!-- single counter up area end -->
            <!-- single counter up area start -->
            <div class="single-counter-up-six">
              <h3 class="title">+<span class="counter">90</span>%</h3>
              <p>de aprovação nas universidades</p>
            </div>
            <!-- single counter up area end -->
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-6 d-flex justify-content-md-end justify-content-center"
      >
        <div class="banner-six-right-content-with-img">
          <div class="image-left">
            <div class="image-one">
              <img
                src="/static/images/banner/08.png"
                width="345"
                alt="banner_image"
              />
            </div>
            <div class="image-two">
              <img
                src="/static/images/banner/09.png"
                width="345"
                alt="banner_image"
              />
            </div>
          </div>
          <div class="image-right">
            <div class="image-three">
              <img
                src="/static/images/banner/10.png"
                width="345"
                alt="banner_image"
              />
            </div>
            <div class="image-four">
              <img
                src="/static/images/banner/11.png"
                width="345"
                alt="banner_image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shape">
    <img
      class="right-top"
      src="/static/images/banner/four-shap/08.png"
      alt="banner_image"
    />
    <img
      class="right-bottom"
      src="/static/images/banner/four-shap/09.png"
      alt="banner_image"
    />
  </div>
</div>
<!-- rts banner area end -->

<div
  class="brand-area-start title-three-brand-wrapper home-six rts-section-gapTop"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="title">Trusted by top companies</p>
        <div class="brand-slider-area">
          <div class="light swiper rts-brandSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/11.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/12.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/13.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/14.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/15.svg" alt="brand"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="dark swiper rts-brandSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/21.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/22.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/23.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/24.svg" alt="brand"
                  /></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="brand-inner">
                  <a href="#"
                    ><img src="/static/images/brand/21.svg" alt="brand"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- rts servgice area start -->
<div class="rts-service-area-five rts-section-gap2Bottom">
  <div class="container">
    <div class="section-inner">
      <div class="row mt--10 g-5">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <!-- ingle service area start -->
          <div class="single-service-style-two style-six">
            <div class="icon">
              <img src="/static/images/service/icon/04.svg" alt="service" />
            </div>
            <a href="{% url 'serviceSingle' %}">
              <h6 class="title">Brand Strategy</h6>
            </a>
            <p class="disc">
              Get organic traffic and high rankings with multi-team
              collaboration that will help you optimize on-page and off-page
              SEO.
            </p>
            <a
              href="{% url 'serviceSingle' %}"
              class="rts-btn btn-border-bottom arrow-rotate"
              >Learn more <i class="fa-sharp fa-light fa-arrow-right"></i
            ></a>
          </div>
          <!-- ingle service area end -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <!-- ingle service area start -->
          <div class="single-service-style-two style-six mid">
            <div class="icon">
              <img src="/static/images/service/icon/05.svg" alt="service" />
            </div>
            <a href="{% url 'serviceSingle' %}">
              <h6 class="title">UI/UX Design</h6>
            </a>
            <p class="disc">
              Optimizing your website for each of the main components to put a
              good and fit in house strategy in place.
            </p>
            <a
              href="{% url 'serviceSingle' %}"
              class="rts-btn btn-border-bottom arrow-rotate"
              >Learn more <i class="fa-sharp fa-light fa-arrow-right"></i
            ></a>
          </div>
          <!-- ingle service area end -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <!-- ingle service area start -->
          <div class="single-service-style-two style-six">
            <div class="icon">
              <img src="/static/images/service/icon/06.svg" alt="service" />
            </div>
            <a href="{% url 'serviceSingle' %}">
              <h6 class="title">Web Development</h6>
            </a>
            <p class="disc">
              Building the site map with places to house in mind means
              implementing your SEO landing pages.
            </p>
            <a
              href="{% url 'serviceSingle' %}"
              class="rts-btn btn-border-bottom arrow-rotate"
              >Learn more <i class="fa-sharp fa-light fa-arrow-right"></i
            ></a>
          </div>
          <!-- ingle service area end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts servgice area End -->

<!-- rts service area start -->
<div class="rts-product-area area-6">
  <div class="container p--0">
    <div class="row">
      <div class="col-lg-12 pb--80">
        <div
          class="title-wrapper-between justify-content-center align-items-center"
        >
          <div class="title-style-one-left text-center">
            <span class="pre text-center skew-up color-secondary-2"
              >Our work process</span
            >
            <h2 class="title skew-up text-center">
              How we work to help <br />
              your business grow
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row service-relative align-items-center single-product-list bg-gray-2"
    >
      <div class="col-lg-6 col-md-6 p--0">
        <a href="{% url 'serviceSingle' %}" class="thumbnail br-none">
          <img src="/static/images/product/35.jpg" alt="product" />
        </a>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-1">
        <div class="portfolio-content-wrapper-list">
          <h3 class="pre-title">01.</h3>
          <h2 class="title">
            Inspiration <br />
            vision
          </h2>
          <p class="disc">
            For over four decades, Tenet Partners has applied our proven
            methodology to deliver compelling corporate brands for hundreds of
            organizations.
          </p>
          <a
            href="{% url 'serviceSingle' %}"
            class="service-btn color-primary-2"
            >More about our philosophy <i class="fa-regular fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
    <div
      class="row service-relative align-items-center single-product-list bg-gray-2"
    >
      <div class="col-lg-5 col-md-6 order-2 order-md-0">
        <div class="portfolio-content-wrapper-list pl--80">
          <h3 class="pre-title color-secondary-2">02.</h3>
          <h2 class="title">
            Management <br />
            planing
          </h2>
          <p class="disc">
            Companies that carefully architect digital interactions and
            experiences with consumers create a valuable source of competitive
            differentiation.
          </p>
          <a
            href="{% url 'serviceSingle' %}"
            class="service-btn color-secondary-2"
            >Let’s find out how <i class="fa-regular fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 p--0 offset-lg-1">
        <a href="{% url 'serviceSingle' %}" class="thumbnail br-none">
          <img src="/static/images/product/36.jpg" alt="product" />
        </a>
      </div>
    </div>
    <div
      class="row service-relative align-items-center single-product-list bg-gray-2"
    >
      <div class="col-lg-6 col-md-6 p--0">
        <a href="{% url 'serviceSingle' %}" class="thumbnail br-none">
          <img src="/static/images/product/37.jpg" alt="product" />
        </a>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-1">
        <div class="portfolio-content-wrapper-list">
          <h3 class="pre-title">03.</h3>
          <h2 class="title">
            Innovation <br />
            development
          </h2>
          <p class="disc">
            We use the most advanced data science modeling platform to answer
            how well your brand is performing, optimize your brand investments
            in real time.
          </p>
          <a href="{% url 'service' %}" class="service-btn color-primary-2"
            >More about our philosophy <i class="fa-regular fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts service area end -->

<!-- rts testimonial area start -->
<div class="rts-testimonials-area-six rts-section-gap2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pb--80">
        <div
          class="title-wrapper-between justify-content-center align-items-center"
        >
          <div class="title-style-one-left text-center">
            <h2 class="title skew-up text-center">
              It’s you’ll never go back better
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section-inner">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6">
          <div class="testimonial-left">
            <div class="icon">
              <img src="/static/images/testimonials/logo/quote-02.png" alt="" />
            </div>
            <h3 class="heading-title">
              Design is everything, and these guys have nailed it.
            </h3>
            <p class="desc">
              By using Fluxi, we've gotten so much of our time back that we're
              now able to put towards things that are actually helping our
              company as opposed to just throwing content out there.
            </p>
            <div class="author-area">
              <div class="left-image">
                <img src="/static/images/testimonials/avatars/04.png" alt="" />
              </div>
              <div class="right-content">
                <h3 class="author-title">Kevin Smith</h3>
                <p class="desc">Lead Marketing at Hola</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="testimonial-right">
            <ul class="right-inner">
              <li class="item">
                <h3 class="heading-title">Totally async</h3>
                <p class="desc">
                  Don't like meetings? We don't either, so much so that we've
                  outlawed them completely.
                </p>
              </li>
              <li class="item">
                <h3 class="heading-title">Manage with Trello</h3>
                <p class="desc">
                  Manage your design board using Trello. View active, queued and
                  completed tasks with ease.
                </p>
              </li>
              <li class="item">
                <h3 class="heading-title">Invite unlimited team members</h3>
                <p class="desc">
                  Invite your entire team, so anyone can submit requests and
                  track their progress.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts testimonial area end -->

<!-- rts counter up area start -->
<div class="rts-counterup-area-six">
  <div class="container-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="counter-upmain-wrapper-style-six area-2 rts-section-gap">
          <!-- single counter up area start -->
          <div class="single-counter-up">
            <p>Projects delivered.</p>
            <h3 class="title"><span class="counter">320</span></h3>
          </div>
          <!-- single counter up area end -->
          <!-- single counter up area start -->
          <div class="single-counter-up">
            <p>Community members</p>
            <h3 class="title"><span class="counter">1.5</span>M</h3>
          </div>
          <!-- single counter up area end -->
          <!-- single counter up area start -->
          <div class="single-counter-up">
            <p>Satesfied customers</p>
            <h3 class="title"><span class="counter">940</span>+</h3>
          </div>
          <!-- single counter up area end -->
          <!-- single counter up area start -->
          <div class="single-counter-up">
            <p>Year founded</p>
            <h3 class="title"><span class="counter">2018</span></h3>
          </div>
          <!-- single counter up area end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts counter up area end -->

<!-- rts portfolio area start -->
<div class="rts-product-area-six">
  <div class="section-inner">
    <div class="top-inner section-bg2">
      <ul class="marquee">
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
      </ul>
    </div>
    <div class="bottom-inner section-bg2">
      <ul class="marquee">
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/13.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/14.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/15.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/16.jpg" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="/static/images/banner/17.jpg" alt="" /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- rts portfolio area end -->

<!-- rts testimonial area start -->
<div class="rts-testimonials-area-six rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pb--40">
        <div
          class="title-wrapper-between justify-content-center align-items-center"
        >
          <div class="title-style-one-left text-center">
            <span class="pre text-center skew-up color-secondary-2"
              >Clients feedbacks</span
            >
            <h2 class="title skew-up text-center">What our clients said.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section-inner">
      <div class="row mt--10 g-5">
        <div class="col-lg-12">
          <div class="overflow-right-div">
            <div class="service-swiper-main-wrapper-2">
              <div class="swiper mySwiper-testimonial-six pb--120">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <!-- ingle service area start -->
                    <div class="single-service-style-two">
                      <div class="icon">
                        <img
                          src="/static/images/testimonials/logo/quote-02.png"
                          alt="testimonial"
                        />
                      </div>
                      <p class="disc">
                        “I don’t see anyone else in this space providing the
                        level of insight brings to the table. They understand
                        data beyond the vanity metrics often provided – true
                        impactful results.”
                      </p>
                      <div class="author-area">
                        <div class="author-image">
                          <img
                            src="/static/images/testimonials/avatars/01.png"
                            alt=""
                          />
                        </div>
                        <div class="author-content">
                          <h3 class="author-title">Kevin Smith</h3>
                          <p class="desc">Merchandising Market Manager</p>
                        </div>
                      </div>
                    </div>
                    <!-- ingle service area end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- ingle service area start -->
                    <div class="single-service-style-two">
                      <div class="icon">
                        <img
                          src="/static/images/testimonials/logo/quote-03.png"
                          alt="testimonial"
                        />
                      </div>
                      <p class="disc">
                        “It’s like having a superpower! I’ve tried almost every
                        alternative and competitor and haven’t found anything
                        quite as easy to use and flexiblity as Fluxi.”
                      </p>
                      <div class="author-area">
                        <div class="author-image">
                          <img
                            src="/static/images/testimonials/avatars/02.png"
                            alt=""
                          />
                        </div>
                        <div class="author-content">
                          <h3 class="author-title">Kevin Smith</h3>
                          <p class="desc">Merchandising Market Manager</p>
                        </div>
                      </div>
                    </div>
                    <!-- ingle service area end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- ingle service area start -->
                    <div class="single-service-style-two">
                      <div class="icon">
                        <img
                          src="/static/images/testimonials/logo/quote-02.png"
                          alt="testimonial"
                        />
                      </div>
                      <p class="disc">
                        “We've gotten so much of our time back that we're now
                        able to put towards things that are actually helping our
                        company as opposed to just throwing content out there.”
                      </p>
                      <div class="author-area">
                        <div class="author-image">
                          <img
                            src="/static/images/testimonials/avatars/03.png"
                            alt=""
                          />
                        </div>
                        <div class="author-content">
                          <h3 class="author-title">Kevin Smith</h3>
                          <p class="desc">Merchandising Market Manager</p>
                        </div>
                      </div>
                    </div>
                    <!-- ingle service area end -->
                  </div>
                  <div class="swiper-slide">
                    <!-- ingle service area start -->
                    <div class="single-service-style-two">
                      <div class="icon">
                        <img
                          src="/static/images/testimonials/logo/quote-03.png"
                          alt="testimonial"
                        />
                      </div>
                      <p class="disc">
                        “I don’t see anyone else in this space providing the
                        level of insight brings to the table. They understand
                        data beyond the vanity metrics often provided – true
                        impactful results.”
                      </p>
                      <div class="author-area">
                        <div class="author-image">
                          <img
                            src="/static/images/testimonials/avatars/03.png"
                            alt=""
                          />
                        </div>
                        <div class="author-content">
                          <h3 class="author-title">Kevin Smith</h3>
                          <p class="desc">Merchandising Market Manager</p>
                        </div>
                      </div>
                    </div>
                    <!-- ingle service area end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-pagination-area">
        <div class="swiper-button-next">
          <i class="fa-light fa-arrow-right"></i>
        </div>
        <div class="swiper-button-prev">
          <i class="fa-light fa-arrow-left"></i>
        </div>
        <div class="swiper-pagination2"></div>
      </div>
    </div>
  </div>
</div>
<!-- rts testimonial area end -->

<!-- rts faq section area start -->
<div class="rts-faq-area-full-container style-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="faq-area-start">
          <div class="title-style-one-center">
            <h2 class="title skew-up">Most asked questions</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt--20">
      <div class="col-lg-12">
        <div class="accordion-faq-area-border-bottom-style">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  What are your core services as a UX design and branding firm?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    However, our passion for branding and the demand from our
                    clients led us to expand our offering to provide
                    full-service brand design practice and web design and
                    development of marketing websites.
                  </p>
                  <p class="disc">
                    Today, our projects encompass a wide range, from building
                    new products and defining brands to revitalizing existing
                    mobile apps, websites, and enterprise software. We
                    specialize in crafting digital products that wholeheartedly
                    embody the brand's personality and deliver delightful
                    experiences to your customers.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Do you work with clients in different timezones?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    However, our passion for branding and the demand from our
                    clients led us to expand our offering to provide
                    full-service brand design practice and web design and
                    development of marketing websites.
                  </p>
                  <p class="disc">
                    Today, our projects encompass a wide range, from building
                    new products and defining brands to revitalizing existing
                    mobile apps, websites, and enterprise software. We
                    specialize in crafting digital products that wholeheartedly
                    embody the brand's personality and deliver delightful
                    experiences to your customers.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  What separates you from other branding and web design
                  agencies?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    However, our passion for branding and the demand from our
                    clients led us to expand our offering to provide
                    full-service brand design practice and web design and
                    development of marketing websites.
                  </p>
                  <p class="disc">
                    Today, our projects encompass a wide range, from building
                    new products and defining brands to revitalizing existing
                    mobile apps, websites, and enterprise software. We
                    specialize in crafting digital products that wholeheartedly
                    embody the brand's personality and deliver delightful
                    experiences to your customers.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  How much does hiring you for a design project cost?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    However, our passion for branding and the demand from our
                    clients led us to expand our offering to provide
                    full-service brand design practice and web design and
                    development of marketing websites.
                  </p>
                  <p class="disc">
                    Today, our projects encompass a wide range, from building
                    new products and defining brands to revitalizing existing
                    mobile apps, websites, and enterprise software. We
                    specialize in crafting digital products that wholeheartedly
                    embody the brand's personality and deliver delightful
                    experiences to your customers.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Do you work with startups?
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    However, our passion for branding and the demand from our
                    clients led us to expand our offering to provide
                    full-service brand design practice and web design and
                    development of marketing websites.
                  </p>
                  <p class="disc">
                    Today, our projects encompass a wide range, from building
                    new products and defining brands to revitalizing existing
                    mobile apps, websites, and enterprise software. We
                    specialize in crafting digital products that wholeheartedly
                    embody the brand's personality and deliver delightful
                    experiences to your customers.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                >
                  Can you help us redesign our B2B/enterprise software?
                </button>
              </h2>
              <div
                id="collapseSix"
                class="accordion-collapse collapse"
                aria-labelledby="headingSix"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    However, our passion for branding and the demand from our
                    clients led us to expand our offering to provide
                    full-service brand design practice and web design and
                    development of marketing websites.
                  </p>
                  <p class="disc">
                    Today, our projects encompass a wide range, from building
                    new products and defining brands to revitalizing existing
                    mobile apps, websites, and enterprise software. We
                    specialize in crafting digital products that wholeheartedly
                    embody the brand's personality and deliver delightful
                    experiences to your customers.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts faq section area end -->

<!-- blog area start -->
<div class="rts-section-gap rts-blog-area-one home-six">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-style-one-center">
          <span class="pre">Latest Insights</span>
          <h2 class="title">Recent articles from blog</h2>
        </div>
      </div>
    </div>
    <div
      class="row g-48 mt--0 justify-content-sm-center justify-content-md-start"
    >
      <div class="col-lg-4 col-md-6 col-sm-10">
        <!-- single blog area start -->
        <div class="single-blog-area-style-one">
          <a href="{% url 'blogDetails' %}" class="thumbnail">
            <img src="/static/images/blog/04.jpg" alt="blog-image" />
          </a>
          <div class="inner-content-wrapper">
            <div class="bottom-area mb--10">
              <span class="admin">Amir Nisi</span>
              <span class="date"><span>•</span> 25 October, 2023</span>
            </div>
            <a href="{% url 'blogDetails' %}">
              <h6 class="title">
                Which tool seems the best for content writing strategy?
              </h6>
            </a>
            <div class="btn-area">
              <a href="{% url 'blogDetails' %}" class="read-more-btn"
                >Read more</a
              >
            </div>
          </div>
        </div>
        <!-- single blog area end -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <!-- single blog area start -->
        <div class="single-blog-area-style-one">
          <a href="{% url 'blogDetails' %}" class="thumbnail">
            <img src="/static/images/blog/05.jpg" alt="blog-image" />
          </a>
          <div class="inner-content-wrapper">
            <div class="bottom-area mb--10">
              <span class="admin">Amir Nisi</span>
              <span class="date"> <span>•</span> 25 October, 2023</span>
            </div>
            <a href="{% url 'blogDetails' %}">
              <h6 class="title">
                Getting eyeballs on what you write for a business is tricky
              </h6>
            </a>
            <div class="btn-area">
              <a href="{% url 'blogDetails' %}" class="read-more-btn"
                >Read more</a
              >
            </div>
          </div>
        </div>
        <!-- single blog area end -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10">
        <!-- single blog area start -->
        <div class="single-blog-area-style-one">
          <a href="{% url 'blogDetails' %}" class="thumbnail">
            <img src="/static/images/blog/06.jpg" alt="blog-image" />
          </a>
          <div class="inner-content-wrapper">
            <div class="bottom-area mb--10">
              <span class="admin">Amir Nisi</span>
              <span class="date"><span>•</span> 25 October, 2023</span>
            </div>
            <a href="{% url 'blogDetails' %}">
              <h6 class="title">
                More than just buzzwords for marketing concepts of SEO
              </h6>
            </a>
            <div class="btn-area">
              <a href="{% url 'blogDetails' %}" class="read-more-btn"
                >Read more</a
              >
            </div>
          </div>
        </div>
        <!-- single blog area end -->
      </div>

      <div class="col-lg-12 text-center">
        <a
          href="{% url 'blog' %}"
          class="rts-btn btn-primary-6-border arrow-rotate text-center"
          >View more on Blog <i class="fa-light fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- blog area end -->

<div class="rts-footer-area footer-six">
  <!-- rts call to action area start -->
  <div class="rts-call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="call-to-action-area-5">
            <h2 class="title skew-up">
              Get in touch and start growing <br />
              your startup today
            </h2>
            <p class="disc">Our cross-disciplinary team integrates branding.</p>
            <div class="button-area">
              <a href="{% url 'contact' %}" class="rts-btn btn-secondary-5"
                ><i class="fa-light fa-paper-plane"></i>More about us</a
              >
              <a href="{% url 'bookDemo' %}" class="rts-btn btn-secondary-5-1"
                ><i class="fa-solid fa-circle-play"></i>Request a demo</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rts call to action area end -->
  <div class="container mb--65">
    <div class="row g-48 g-lg-0">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Company</h5>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">We hire</a></li>
            <li><a href="#">Insights</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Resources</h5>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Help center</a></li>
            <li><a href="#">Ask for support</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Social</h5>
          <ul>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Legal</h5>
          <ul>
            <li><a href="{% url 'terms' %}">Terms of service</a></li>
            <li><a href="{% url 'privacyPolicy' %}">Privacy policy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Newsletter</h5>
          <div class="footer-input-btn-between">
            <form action="#">
              <input required type="email" placeholder="Your email.." />
              <button class="rts-btn btn-primary-4">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-area-four pt--65 pb--65 mt-65">
          <a href="#" class="logo">
            <img src="/static/images/logo/logo-9.svg" alt="logo" />
          </a>
          <p>© 2023 Fluxi, All right reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-image">
    <img src="/static/images/cta/03.png" alt="" class="one" />
  </div>
</div>

{% endblock content %}
