# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# Environment variables
.env
*.env

# Virtual environments
venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
*.bak

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Celery
celerybeat-schedule

# Logs
*.log
*.out
*.err

# Local settings
settings_local.py

# Backup files
*.bak
*.swp
*.swo