*.pyo
*.pyd
__pycache__/
fluxi/__pycache__/
fluxi/migrations/
*.sqlite3

# requirements.txt para nao interefir no serivodr
requirements.txt

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environments
venv/
.env/
*.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
*.bak
*.swp
*.swo
