<!-- CTA Visita start-->
<section class="rts-call-to-action" id="agende-visita">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="call-to-action-area-5">
          <h2 class="title skew-up">
            Conheça a sua escola cristã <br />
            de Ananindeua
          </h2>
          <p class="disc">
            Agende uma visita e descubra por que somos a escolha de centenas de
            famílias cristãs.
          </p>
          <div class="button-area">
            <a href="{% url "contato" %}" class="rts-btn btn-secondary-5" onclick="rudderanalytics.track('Click Agendar Visita', {local: {{local_name}}, page: {{page_name}} });">
              <i class="fa-light fa-calendar"></i>
              Agendar Visita
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CTA Visita end -->