<div class="faq-cta-main-wrapper-bg rts-section-gap2">
        <!-- rts faq section area start -->
        <div class="rts-faq-area-full-container tos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="faq-area-start">
                            <div class="title-style-one-center">
                                <span class="pre skew-up">Our Terms & Condition</span>
                                <h2 class="title skew-up">TERMS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt--60">
                    <div class="col-lg-12">
                        <div class="tos__content">
                            <p>Terms of use dolor sit amet consectetur, adipisicing elit. Recusandae provident ullam aperiam quo ad non corrupti sit vel quam repellat ipsa quod sed, repellendus adipisci, ducimus ea modi odio assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium necessitatibus totam debitis saepe earum. A ipsum nostrum in possimus officia! Lorem ipsum dolor sit amet consectetur adipisicing. </p>
                            <h4>Disclaimers</h4>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum.
                            </p>
                            <h4>Limitation on Liability</h4>
                            <p>Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum. </p>
                            <h4>Copyright Policy</h4>
                            <p>Dolor sit amet consectetur adipisicing elit. Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum.
                            </p>
                            <h4>general</h4>
                            <p> Dolor sit amet consectetur adipisicing elit. Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- rts faq section area end -->
        <div class="shape-area">
            <img src="/static/images/faq/shape/01.png" alt="" class="one">
            <img src="/static/images/faq/shape/02.png" alt="" class="two">
            <img src="/static/images/faq/shape/03.png" alt="" class="three">
            <img src="/static/images/faq/shape/04.png" alt="" class="four">
        </div>
</div>