{% load static %}
<div class="rts-footer-area footer-four rts-section-gap">
  <div class="container mb--65">
    <div class="row g-48">
      <div class="row g-48">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="single-footer-wized-one">
            <h6 class="title">Institucional</h6>
            <ul>
              <li><a href="{% url "about" %}">Sobre nós</a></li>
              <li><a href="https://celogos.vagas.solides.com.br/">Vagas</a></li>
              <!--
              <li><a href="https://drive.google.com/drive/folders/1CesBbQEJ1KH3ACWjhwGKOUqD3w4x5Y8b?usp=drive_link">Dados e informações</a></li>
              -->
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="single-footer-wized-one">
            <h6 class="title">Recursos</h6>
            <ul>
              <li><a href="https://blog-o-cel.ghost.io/">Blog</a></li>
              <li><a href="{% url "contato" %}">Dúvidas e Perguntas</a></li>
              <!--
              <li><a href="{% url "contato" %}">Suporte</a></li>
              -->
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="single-footer-wized-one">
            <h6 class="title">Social</h6>
            <ul>
              <li>
                <a
                  href="https://www.linkedin.com/company/logoscentroeducacional"
                  >LinkedIn</a
                >
              </li>
              <li>
                <a href="https://www.facebook.com/CELogos/">Facebook</a>
              </li>
              <li>
                <a href="https://www.instagram.com/logoscentroeducacional/"
                  >Instagram</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <!-- footer input wrapper inbner-main area -->
          <div class="footer-input-main-wrapper-one">
            <div class="single-footer-wized-one">
              <h6 class="title">
                Quer acompanhar nossas novidades? 
                <br \>Inscreva-se!
              </h6>
              <form action="#">
                <input
                  id="email"
                  type="email"
                  autocomplete="email"
                  placeholder="Seu e-mail ..."
                  required
                />
                <i class="fa-regular fa-envelope"></i>
                <button type="submit" class="rts-btn btn-primary">
                  Enviar
                </button>
              </form>
            </div>
          </div>
          <!-- footer input wrapper inbner-main area end -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-area-four pt--65 mt-65 border-top">
          <a href="#" class="logo">
            <img
              class="light"
              src="{% static 'images/logo/logo-horizontal-colorida-azul.svg' %}"
              alt="logo"
              width="100%"
            />
            <img
              class="dark"
              src="{% static 'images/logo/logo-horizontal-colorida-branca.svg' %}"
              alt="logo"
              width="100%"
            />
          </a>
          <p>© 2025 Logos, todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
