<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/fav.png">
    <title>Fluxi - Django 5 SEO Marketing Website Template</title>
    <!-- swiper css -->
    <link rel="stylesheet preload" href="/static/css/plugins/swiper.min.css" as="style">
    <!-- magnific popup css -->
    <link rel="stylesheet preload" href="/static/css/plugins/magnific-popup.css" as="style">
    <!-- metismenu css -->
    <link rel="stylesheet preload" href="/static/css/plugins/metismenu.css" as="style">
    <!-- bootstrap css -->
    <link rel="stylesheet preload" href="/static/css/vendor/bootstrap.min.css" as="style">
    <!-- fontawesome css -->
    <link rel="stylesheet preload" href="/static/css/plugins/fontawesome.min.css" as="style">
    <!-- Custom css -->
    <link rel="stylesheet preload" href="/static/css/style.css" as="style">
</head>