<!-- jquery js -->
<script defer src="/static/js/plugins/jquery.min.js"></script>

<!-- UTM Parameter Tracking Script -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const params = new URLSearchParams(window.location.search);
    const utmParams = {};

    // Lista de parâmetros para rastrear
    const trackedParams = [
      "utm_source",
      "utm_medium",
      "utm_campaign",
      "utm_term",
      "utm_content",
      "gclid",
      "fbclid",
    ];

    trackedParams.forEach((param) => {
      if (params.has(param)) {
        utmParams[param] = params.get(param);
      }
    });

    // Salva os parâmetros na sessionStorage se eles existirem
    if (Object.keys(utmParams).length > 0) {
      sessionStorage.setItem("utm_params", JSON.stringify(utmParams));
    }

    // Pega os parâmetros salvos
    const storedParams = JSON.parse(sessionStorage.getItem("utm_params"));

    if (storedParams) {
      const newParams = new URLSearchParams(storedParams).toString();

      // Adiciona os parâmetros a todos os links internos
      document.querySelectorAll("a").forEach((link) => {
        const url = new URL(link.href, window.location.origin);

        // Verifica se o link é para o mesmo domínio
        if (url.hostname === window.location.hostname) {
          Object.keys(storedParams).forEach((key) => {
            url.searchParams.set(key, storedParams[key]);
          });
          link.href = url.toString();
        }
      });
    }
  });
</script>

<script defer src="/static/js/plugins/bootstrap.min.js"></script>
<script defer src="/static/js/plugins/metismenu.js"></script>
<script defer src="/static/js/vendor/jqueryui.js"></script>
<script defer src="/static/js/vendor/waypoint.js"></script>
<script defer src="/static/js/plugins/swiper.js"></script>
<script defer src="/static/js/plugins/theia-sticky-sidebar.min.js"></script>
<script defer src="/static/js/plugins/gsap.min.js"></script>
<script defer src="/static/js/plugins/scrolltigger.js"></script>
<script defer src="/static/js/plugins/jquery.mask.min.js"></script>
<script defer src="/static/js/vendor/split-text.js"></script>
<script defer src="/static/js/vendor/split-type.js"></script>
<script defer src="/static/js/vendor/waw.js"></script>
<script defer src="/static/js/plugins/counter-up.js"></script>
<script defer src="/static/js/plugins/magnific-popup.js"></script>
<!-- contact form js -->
<script defer src="/static/js/main.js"></script>

<!-- Ketch Smart Tag - Load Asynchronously -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Encontra qualquer formulário de método POST na página
    const form = document.querySelector('form[method="post"]');

    if (form) {
      form.addEventListener("submit", function () {
        // Procura pelo campo oculto dentro do formulário que está sendo enviado
        const consentField = form.querySelector("#ketch_consent_field");

        if (consentField && window.ketch) {
          // Consulta a API da Ketch para o propósito 'analytics'
          // Lembre-se que 'analytics' pode mudar dependendo da sua configuração na Ketch
          const consentStatus = window.ketch("getConsent", "analytics");

          // Preenche o campo com 'true' ou 'false'
          consentField.value = consentStatus;
        }
      });
    }
  });
</script>
<!-- Leadster Tag -->
<script>
  (function (a, b, c, d) {
    try {
      var e = b.head || b.getElementsByTagName("head")[0];
      var f = b.createElement("script");
      f.setAttribute("src", c);
      f.setAttribute("charset", "UTF-8");
      f.defer = true;
      a.neuroleadId = d;
      e.appendChild(f);
    } catch (g) {}
  })(
    window,
    document,
    "https://cdn.leadster.com.br/neurolead/neurolead.min.js",
    "1E5ZolrwqPGIMdk8na3cVo62H"
  );
</script>

<!-- RudderStack JavaScript SDK -->
<script type="text/javascript">
  (function () {
    "use strict";
    window.RudderSnippetVersion = "3.2.0";
    var identifier = "rudderanalytics";
    if (!window[identifier]) {
      window[identifier] = [];
    }
    var rudderanalytics = window[identifier];
    if (Array.isArray(rudderanalytics)) {
      if (
        rudderanalytics.snippetExecuted === true &&
        window.console &&
        console.error
      ) {
        console.error(
          "RudderStack JavaScript SDK snippet included more than once."
        );
      } else {
        rudderanalytics.snippetExecuted = true;
        window.rudderAnalyticsBuildType = "legacy";
        var sdkBaseUrl = "https://cdn.rudderlabs.com";
        var sdkVersion = "v3";
        var sdkFileName = "rsa.min.js";
        var scriptLoadingMode = "async";
        var methods = [
          "setDefaultInstanceKey",
          "load",
          "ready",
          "page",
          "track",
          "identify",
          "alias",
          "group",
          "reset",
          "setAnonymousId",
          "startSession",
          "endSession",
          "consent",
          "addCustomIntegration",
        ];
        for (var i = 0; i < methods.length; i++) {
          var method = methods[i];
          rudderanalytics[method] = (function (methodName) {
            return function () {
              if (Array.isArray(window[identifier])) {
                rudderanalytics.push(
                  [methodName].concat(Array.prototype.slice.call(arguments))
                );
              } else {
                var _methodName;
                (_methodName = window[identifier][methodName]) === null ||
                  _methodName === undefined ||
                  _methodName.apply(window[identifier], arguments);
              }
            };
          })(method);
        }
        try {
          new Function(
            'class Test{field=()=>{};test({prop=[]}={}){return prop?(prop?.property??[...prop]):import("");}}'
          );
          window.rudderAnalyticsBuildType = "modern";
        } catch (e) {}
        var head = document.head || document.getElementsByTagName("head")[0];
        var body = document.body || document.getElementsByTagName("body")[0];
        window.rudderAnalyticsAddScript = function (
          url,
          extraAttributeKey,
          extraAttributeVal
        ) {
          var scriptTag = document.createElement("script");
          scriptTag.src = url;
          scriptTag.setAttribute("data-loader", "RS_JS_SDK");
          if (extraAttributeKey && extraAttributeVal) {
            scriptTag.setAttribute(extraAttributeKey, extraAttributeVal);
          }
          if (scriptLoadingMode === "async") {
            scriptTag.async = true;
          } else if (scriptLoadingMode === "defer") {
            scriptTag.defer = true;
          }
          if (head) {
            head.insertBefore(scriptTag, head.firstChild);
          } else {
            body.insertBefore(scriptTag, body.firstChild);
          }
        };
        window.rudderAnalyticsMount = function () {
          (function () {
            if (typeof globalThis === "undefined") {
              var getGlobal = function getGlobal() {
                if (typeof self !== "undefined") {
                  return self;
                }
                if (typeof window !== "undefined") {
                  return window;
                }
                return null;
              };
              var global = getGlobal();
              if (global) {
                Object.defineProperty(global, "globalThis", {
                  value: global,
                  configurable: true,
                });
              }
            }
          })();
          window.rudderAnalyticsAddScript(
            ""
              .concat(sdkBaseUrl, "/")
              .concat(sdkVersion, "/")
              .concat(window.rudderAnalyticsBuildType, "/")
              .concat(sdkFileName),
            "data-rsa-write-key",
            "32TbozUnb3eqYoOCIZy3PRi3F6R"
          );
        };
        if (
          typeof Promise === "undefined" ||
          typeof globalThis === "undefined"
        ) {
          window.rudderAnalyticsAddScript(
            "https://polyfill-fastly.io/v3/polyfill.min.js?version=3.111.0&features=Symbol%2CPromise&callback=rudderAnalyticsMount"
          );
        } else {
          window.rudderAnalyticsMount();
        }
        var loadOptions = {};
        rudderanalytics.load(
          "32TbozUnb3eqYoOCIZy3PRi3F6R",
          "https://celogosjopvexz.dataplane.rudderstack.com",
          loadOptions
        );
      }
    }
  })();
</script>
