<div id="side-bar" class="side-bar header-two">
  <button type="button" class="close-icon-menu">
    <i class="fa-sharp fa-thin fa-xmark"></i>
  </button>
  <!-- mobile menu area start -->
  <div class="mobile-menu-main">
    <nav class="nav-main mainmenu-nav mt--30">
      <ul class="mainmenu metismenu" id="mobile-menu-active">
        <li>
          <a href="#" class="main">Home</a>
        </li>
        <li>
          <a href="#" class="main">Sobre nós</a>
        </li>
        <li class="has-droupdown">
          <a href="#" class="main">Serviços</a>
          <ul class="submenu mm-collapse">
            <li>
              <a class="mobile-menu-link" href="{% url "educacaoInfantil" %}">Educação infantil</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="{% url "ensinoFundamental" %}">Fundamental 1</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="{% url "ensinoFundamental2" %}">Fundamental 2</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="{% url "ensinoMedio" %}">Ensino médio</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="{% url "ensinoIntegral" %}">Integral</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="main">Infraestrutura</a>
        </li>
        <li>
          <a href="#" class="main">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- mobile menu area end -->
</div>
