<div id="side-bar" class="side-bar header-two">
    <button class="close-icon-menu"><i class="far fa-times"></i></button>
    <!-- mobile menu area start -->
    <div class="mobile-menu-main">
        <nav class="nav-main mainmenu-nav mt--30">
            <ul class="mainmenu metismenu" id="mobile-menu-active">
                <li class="has-droupdown">
                    <a href="#" class="main">Home</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="{% url 'index' %}">Golf Club</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'indexTwo' %}">Golf Academy</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'indexThree' %}">Driving Range</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Pages</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="{% url 'about' %}">About</a></li>
                        <li class="has-droupdown third-lvl">
                            <a class="main" href="#">Team</a>
                            <ul class="submenu-third-lvl mm-collapse">
                                <li><a href="{% url 'team' %}"></a>Team</li>
                                <li><a href="#"></a>Team Details</li>
                            </ul>
                        </li>
                        <li class="has-droupdown third-lvl">
                            <a class="main" href="#">Course</a>
                            <ul class="submenu-third-lvl mm-collapse">
                                <li><a href="#"></a>Course</li>
                                <li><a href="#"></a>Course Details</li>
                            </ul>
                        </li>
                        <li><a class="mobile-menu-link" href="#">Pricing</a></li>
                        <li><a class="mobile-menu-link" href="#">Booking</a></li>
                        <li class="has-droupdown third-lvl">
                            <a class="main" href="#">Event</a>
                            <ul class="submenu-third-lvl mm-collapse">
                                <li><a href="#"></a>Event List</li>
                                <li><a href="#"></a>Event Details</li>
                            </ul>
                        </li>
                        <li class="has-droupdown third-lvl">
                            <a class="main" href="#">Gallery</a>
                            <ul class="submenu-third-lvl mm-collapse">
                                <li><a href="#"></a>Our Gallery</li>
                                <li><a href="#"></a>Gallery Masonry</li>
                                <li><a href="#"></a>Gallery Grid</li>
                            </ul>
                        </li>
                        <li><a class="mobile-menu-link" href="#">Wedding</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'faq' %}">Faq's</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main">Booking</a>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Shop</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="#">Shop</a></li>
                        <li><a class="mobile-menu-link" href="#">product Details</a></li>
                        <li><a class="mobile-menu-link" href="#">Cart</a></li>
                        <li><a class="mobile-menu-link" href="#">Checkout</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">News</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="#">Blog List</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'blogGrid' %}">Blog Grid</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'blogGrid2' %}">Blog Grid 2</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'blogDetails' %}">Blog Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'contact' %}" class="main">Contact Us</a>
                </li>
            </ul>
        </nav>

        <ul class="social-area-one pl--20 mt--100">
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        </ul>
    </div>
    <!-- mobile menu area end -->
</div>