<div class="rts-subscribe-area-one about rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="subscribe-main-wrapper-one">
                    <div class="title-style-one-center">
                        <h2 class="title skew-up">Let's maximize your <br>
                            online impact!</h2>
                        <p class="disc">
                            More than just buzzwords for marketing concepts of SEO.
                        </p>
                        <div class="btn-area d-flex align-items-center justify-content-center">
                            <a href="#" class="rts-btn btn-primary">Get in touch</a>
                            <a href="{% url 'bookDemo' %}" class="under-line-btn">Request a demo</a>
                        </div>
                    </div>
                    <div class="shape-area">
                        <img class="one" src="/static/images/subscribtion/shape/01.png" alt="subscribtion">
                        <img class="two" src="/static/images/subscribtion/shape/02.png" alt="subscribtion">
                        <img class="three" src="/static/images/subscribtion/shape/03.png" alt="subscribtion">
                        <img class="four" src="/static/images/subscribtion/shape/04.png" alt="subscribtion">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>