<div class="rts-testimonials-area-7 rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-style-one-center">
                    <h2 class="title skew-up">Clients feedback</h2>
                </div>
            </div>
        </div>
        <div class="row mt--60">
            <div class="col-lg-12">
                <div class="swiper mySwiper-testimonials-7">
                    <div class="swiper-wrapper pb--80">
                        <div class="swiper-slide">
                            <div class="single-testimonials-4">
                                <div class="icon">
                                    <img src="/static/images/testimonials/shape/05.png" alt="testimonials">
                                </div>
                                <p class="disc">
                                    “I don’t see anyone else in this space providing the level of insight brings to the table. They understand data beyond the vanity metrics often provided – true impactful results.”
                                </p>
                                <div class="author">
                                    <h6 class="title">Kevin Smith</h6>
                                    <p>Merchandising Market Manager</p>
                                    <img src="/static/images/testimonials/shape/04.png" alt="testimonials">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonials-4">
                                <div class="icon">
                                    <img src="/static/images/testimonials/shape/04.png" alt="testimonials">
                                </div>
                                <p class="disc">
                                    “I don’t see anyone else in this space providing the level of insight brings to the table. They understand data beyond the vanity metrics often provided – true impactful results.”
                                </p>
                                <div class="author">
                                    <h6 class="title">Kevin Smith</h6>
                                    <p>Merchandising Market Manager</p>
                                    <img src="/static/images/testimonials/shape/04.png" alt="testimonials">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonials-4">
                                <div class="icon">
                                    <img src="/static/images/testimonials/shape/05.png" alt="testimonials">
                                </div>
                                <p class="disc">
                                    “I don’t see anyone else in this space providing the level of insight brings to the table. They understand data beyond the vanity metrics often provided – true impactful results.”
                                </p>
                                <div class="author">
                                    <h6 class="title">Kevin Smith</h6>
                                    <p>Merchandising Market Manager</p>
                                    <img src="/static/images/testimonials/shape/04.png" alt="testimonials">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonials-4">
                                <div class="icon">
                                    <img src="/static/images/testimonials/shape/05.png" alt="testimonials">
                                </div>
                                <p class="disc">
                                    “I don’t see anyone else in this space providing the level of insight brings to the table. They understand data beyond the vanity metrics often provided – true impactful results.”
                                </p>
                                <div class="author">
                                    <h6 class="title">Kevin Smith</h6>
                                    <p>Merchandising Market Manager</p>
                                    <img src="/static/images/testimonials/shape/04.png" alt="testimonials">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonials-4">
                                <div class="icon">
                                    <img src="/static/images/testimonials/shape/05.png" alt="testimonials">
                                </div>
                                <p class="disc">
                                    “I don’t see anyone else in this space providing the level of insight brings to the table. They understand data beyond the vanity metrics often provided – true impactful results.”
                                </p>
                                <div class="author">
                                    <h6 class="title">Kevin Smith</h6>
                                    <p>Merchandising Market Manager</p>
                                    <img src="/static/images/testimonials/shape/04.png" alt="testimonials">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>