{% extends 'layout/layout.html' %} {% block content %}

<!-- contact banner area srart -->
<div class="contact-banner-area-start rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- banner main inner contact areas start -->
        <div class="banner-inner-area-contact-inner">
          <h1 class="title skew-up-2">
            Faça uma visita <br /><span>no Logos</span>
          </h1>
          <p class="disc">
            Venha conhecer de perto a nossa estrutura e nossa proposta
            pedagógica.
          </p>
        </div>
        <!-- banner main inner contact areas end -->
      </div>
    </div>
  </div>
</div>
<!-- contact banner area end -->

<div class="rts-contact-form-area contact-form-page rts-section-gapBottom">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-12 col-md-10">
        <form id="contact-form" method="post" class="contact-form" action="#">
          {% csrf_token %} {{ form.as_p }}
          <input
            type="hidden"
            name="ketch_consent"
            id="ketch_consent_field"
            value="not_allowed"
          />
          <button type="submit" class="rts-btn btn-primary">
            Enviar
            <i class="fa-brands fa-whatsapp"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% block footer %} {% include '../partials/footer.html' %} {% endblock footer %}
{% endblock content %}
