<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.html' %}

  <body>
    <div class="rts-error-section">
      <div class="section-inner">
        <img src="/static/images/error.png" alt="" />
        <div class="wrapper-para mt--45">
          <h3 class="title">Página não encontrada</h3>
          <p class="disc">
            Desculpe, a página que você solicitou não pôde ser encontrada <br />
            por favor, volte para a página inicial
          </p>
          <a href="{% url 'index' %}" class="rts-btn btn-primary m-auto"
            >Voltar para a Página Inicial</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
