{% extends '../layout/layout.html' %}

{% block content %}

    <!-- contact banner area srart -->
    <div class="contact-banner-area-start faq rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- banner main inner contact areas start -->
                    <div class="banner-inner-area-contact-inner">
                        <h1 class="title skew-up-2">Take a tour of our <br><span>Pricing Plans</span></h1>
                        <p class="disc">Amet tempor ornare a nunc mauris. Arcu dui ut ultrices nunc mattis vitae.
                            Aliquam pulvinar libero iaculis iaculis nullam urna.</p>
                    </div>
                    <!-- banner main inner contact areas end -->
                </div>
            </div>
        </div>
    </div>
    <!-- contact banner area end -->

    <!-- rts pricing area srart -->
    <div class="rtws-pricing-area-start-two rts-section-gap bg-light-border-radious">
        <div class="container">
            <div class="row g-48 mt--0 justify-content-sm-center justify-content-md-start">
                <div class="col-lg-4 col-md-6 col-sm-10 mt--0">
                    <!-- single pricing area start -->
                    <div class="single-pricing-area-two free-place">
                        <div class="head-pricing">
                            <span class="plane_name">Free plan</span>
                            <div class="doller-area">
                                <h2 class="title">$0</h2>
                                <span class="time">/ per month</span>
                            </div>
                            <p>Grow your business with ease.</p>
                        </div>
                        <div class="body">
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Social media advertising</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Report analytics</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Keyword research</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Content strategy</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Premium consulting</p>
                            </div>
                        </div>
                        <div class="footer">
                            <a href="#" class="rts-btn btn-primary-2">Sign up now</a>
                            <p>No credit card required.</p>
                        </div>
                    </div>
                    <!-- single pricing area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mt--0">
                    <!-- single pricing area start -->
                    <div class="single-pricing-area-two professional-place">
                        <div class="head-pricing">
                            <span class="plane_name">Professional</span>
                            <div class="doller-area">
                                <h2 class="title">$99</h2>
                                <span class="time">/ per month</span>
                            </div>
                            <p>Grow your business with ease.</p>
                        </div>
                        <div class="body">
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Social media advertising</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Report analytics</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Keyword research</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Content strategy</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Premium consulting</p>
                            </div>
                        </div>
                        <div class="footer">
                            <a href="#" class="rts-btn btn-primary-2">Try for Free</a>
                            <p>$999 billed annually. Save $189.</p>
                        </div>
                    </div>
                    <!-- single pricing area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mt--0">
                    <!-- single pricing area start -->
                    <div class="single-pricing-area-two enterprise-place">
                        <div class="head-pricing">
                            <span class="plane_name">Enterprise</span>
                            <div class="doller-area">
                                <h2 class="title">$149</h2>
                                <span class="time">/ per month</span>
                            </div>
                            <p>Grow your business with ease.</p>
                        </div>
                        <div class="body">
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Social media advertising</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Report analytics</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Keyword research</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Content strategy</p>
                            </div>
                            <div class="single-check">
                                <i class="fa-regular fa-check"></i>
                                <p>Premium consulting</p>
                            </div>
                        </div>
                        <div class="footer">
                            <a href="#" class="rts-btn btn-primary-2">Let’s talk</a>
                            <p>$999 billed annually. Save $189.</p>
                        </div>
                    </div>
                    <!-- single pricing area end -->
                </div>
            </div>
        </div>
        <div class="shape-area">
            <img src="/static/images/testimonials/shape/12.png" alt="shape" class="one">
            <img src="/static/images/testimonials/shape/13.png" alt="shape" class="two">
            <img src="/static/images/testimonials/shape/14.png" alt="shape" class="three">
        </div>
    </div>
    <!-- rts pricing area end -->

    <!-- rts faq section area start -->
    <div class="rts-faq-area-full-container style-three pt--80 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq-area-start">
                        <div class="title-style-one-center">
                            <span class="pre skew-up">Our FAQ</span>
                            <h2 class="title skew-up">Frequently asked questions</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt--20">
                <div class="col-lg-12">
                    <div class="accordion-faq-area-border-bottom-style">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What are your core services as a UX design and branding firm?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="disc">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </p>
                                        <p class="disc">
                                            Today, our projects encompass a wide range, from building new products and defining brands to revitalizing existing mobile apps, websites, and enterprise software. We specialize in crafting digital products that wholeheartedly embody the brand's personality and deliver delightful experiences to your customers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Do you work with clients in different timezones?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="disc">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </p>
                                        <p class="disc">
                                            Today, our projects encompass a wide range, from building new products and defining brands to revitalizing existing mobile apps, websites, and enterprise software. We specialize in crafting digital products that wholeheartedly embody the brand's personality and deliver delightful experiences to your customers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What separates you from other branding and web design agencies?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="disc">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </p>
                                        <p class="disc">
                                            Today, our projects encompass a wide range, from building new products and defining brands to revitalizing existing mobile apps, websites, and enterprise software. We specialize in crafting digital products that wholeheartedly embody the brand's personality and deliver delightful experiences to your customers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        How much does hiring you for a design project cost?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="disc">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </p>
                                        <p class="disc">
                                            Today, our projects encompass a wide range, from building new products and defining brands to revitalizing existing mobile apps, websites, and enterprise software. We specialize in crafting digital products that wholeheartedly embody the brand's personality and deliver delightful experiences to your customers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Do you work with startups?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="disc">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </p>
                                        <p class="disc">
                                            Today, our projects encompass a wide range, from building new products and defining brands to revitalizing existing mobile apps, websites, and enterprise software. We specialize in crafting digital products that wholeheartedly embody the brand's personality and deliver delightful experiences to your customers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Can you help us redesign our B2B/enterprise software?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="disc">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </p>
                                        <p class="disc">
                                            Today, our projects encompass a wide range, from building new products and defining brands to revitalizing existing mobile apps, websites, and enterprise software. We specialize in crafting digital products that wholeheartedly embody the brand's personality and deliver delightful experiences to your customers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-area">
            <img src="/static/images/faq/shape/01.png" alt="sahpe" class="one">
            <img src="/static/images/faq/shape/02.png" alt="sahpe" class="two">
            <img src="/static/images/faq/shape/03.png" alt="sahpe" class="three">
            <img src="/static/images/faq/shape/04.png" alt="sahpe" class="four">
        </div>
    </div>
    <!-- rts faq section area end -->

    <div class="rts-section-gap rts-blog-area-one style-seven about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-style-one-center">
                        <h2 class="title skew-up">Recent articles from blog</h2>
                    </div>
                </div>
            </div>
            <div class="row g-48 justify-content-md-start justify-content-sm-center mt--0">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <!-- single blog area start -->
                    <div class="single-blog-area-style-one eight-area text-center">
                        <a href="{% url 'blogDetails' %}" class="thumbnail">
                            <img src="/static/images/blog/01.png" alt="blog-image">
                        </a>
                        <div class="inner-content-wrapper">
                            <div class="bottom-area mb--25">
                                <span class="admin">Amir Nisi</span>
                                <span class="date">•   25 October, 2023</span>
                            </div>
                            <a href="{% url 'blogDetails' %}">
                                <h6 class="title mb--20">
                                    Which tool seems the best for content writing strategy?
                                </h6>
                            </a>
                            <a href="{% url 'blogDetails' %}" class="btn-readmore-inner">Read more</a>
                        </div>
                    </div>
                    <!-- single blog area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <!-- single blog area start -->
                    <div class="single-blog-area-style-one eight-area">
                        <a href="{% url 'blogDetails' %}" class="thumbnail">
                            <img src="/static/images/blog/02.png" alt="blog-image">
                        </a>
                        <div class="inner-content-wrapper">
                            <div class="bottom-area mb--25">
                                <span class="admin">Amir Nisi</span>
                                <span class="date">•   25 October, 2023</span>
                            </div>
                            <a href="{% url 'blogDetails' %}">
                                <h6 class="title mb--20">
                                    Getting eyeballs on what you write for a business is tricky
                                </h6>
                            </a>
                            <a href="{% url 'blogDetails' %}" class="btn-readmore-inner">Read more</a>
                        </div>
                    </div>
                    <!-- single blog area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <!-- single blog area start -->
                    <div class="single-blog-area-style-one eight-area">
                        <a href="{% url 'blogDetails' %}" class="thumbnail">
                            <img src="/static/images/blog/03.png" alt="blog-image">
                        </a>
                        <div class="inner-content-wrapper">
                            <div class="bottom-area mb--25">
                                <span class="admin">Amir Nisi</span>
                                <span class="date">•   25 October, 2023</span>
                            </div>
                            <a href="{% url 'blogDetails' %}">
                                <h6 class="title mb--20">
                                    More than just buzzwords for marketing concepts of SEO
                                </h6>
                            </a>
                            <a href="{% url 'blogDetails' %}" class="btn-readmore-inner">Read more</a>
                        </div>
                    </div>
                    <!-- single blog area end -->
                </div>
            </div>
            <div class="row">
                <div class="blog-btn-area mt--50">
                    <a href="{% url 'blog' %}" class="rts-btn btn-primary-4-border arrow-rotate inner m-auto">See More Posts <i class="fa-light fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="shape-area">
            <img src="/static/images/blog/shape/01.png" alt="marketing" class="one">
            <img src="/static/images/blog/shape/02.png" alt="marketing" class="two">
            <img src="/static/images/blog/shape/03.png" alt="marketing" class="three">
        </div>
    </div>

    <!-- subscription area start -->
    {% include  '../partials/subscription.html' %}
    <!-- subscription area end -->

{% endblock content %}
