{% extends 'layout/layout.html' %} {% load static %} {% block content %}

<!-- contact banner area srart -->
<div class="contact-banner-area-start faq rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- banner main inner contact areas start -->
        <div class="banner-inner-area-contact-inner">
          <h1 class="title skew-up-2">
            Take a tour of our <br /><span>PRIVACY</span>
          </h1>
          <p class="disc">
            Amet tempor ornare a nunc mauris. Arcu dui ut ultrices nunc mattis
            vitae. Aliquam pulvinar libero iaculis iaculis nullam urna.
          </p>
        </div>
        <!-- banner main inner contact areas end -->
      </div>
    </div>
  </div>
</div>
<!-- contact banner area end -->

<!-- faq call to action area start -->
<div class="faq-cta-main-wrapper-bg rts-section-gap2">
  <!-- rts faq section area start -->
  <div class="rts-faq-area-full-container privacy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-area-start">
            <div class="title-style-one-center">
              <span class="pre skew-up">Our Privacy Policy</span>
              <h2 class="title skew-up">PRIVACY</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt--60">
        <div class="col-lg-12">
          <div class="privacy__content">
            <p>
              Terms of use dolor sit amet consectetur, adipisicing elit.
              Recusandae provident ullam aperiam quo ad non corrupti sit vel
              quam repellat ipsa quod sed, repellendus adipisci, ducimus ea modi
              odio assumenda. Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Praesentium necessitatibus totam debitis saepe earum. A
              ipsum nostrum in possimus officia! Lorem ipsum dolor sit amet
              consectetur adipisicing.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
              cum esse possimus officiis amet ea voluptatibus libero! Dolorum
              assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis
              tenetur at, quis nostrum facere excepturi architecto totam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero
              velit rerum. It is a long established fact that a reader will be
              distracted by the readable content of a page when looking at its
              layout. The point of using Lorem Ipsum is that it has a
              more-or-less normal distribution of letters, as opposed to using
              ‘Content here, content here’, making it look like readable
              English.
            </p>

            <p>
              Sequi, cum esse possimus officiis amet ea voluptatibus libero!
              Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error
              nobis tenetur at, quis nostrum facere excepturi architecto totam.
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero
              velit rerum. It is a long established fact that a reader will be
              distracted by the readable content of a page when looking at its
              layout. The point of using Lorem Ipsum is that it has a
              more-or-less normal distribution of letters, as opposed to using
              ‘Content here, content here’, making it look like readable
              English.
            </p>

            <h4>Determination of personal information of users</h4>
            <ul>
              <li>
                All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true
                generator on the Internet.
              </li>
              <li>
                All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true
                generator on the Internet.
              </li>
              <li>
                All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true
                generator on the Internet.
              </li>
            </ul>
            <h4>
              Reasons for collecting and processing user personal information
            </h4>
            <ol>
              <li>
                All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true
                generator on the Internet.
              </li>
              <li>
                All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true
                generator on the Internet.
              </li>
              <li>
                All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true
                generator on the Internet.
              </li>
            </ol>
            <p>
              All generators on the Internet tend to repeat predefined chunks as
              necessary, making this the first true generator on the Internet.
              It uses a dictionary of over 200 Latin words, combined with a
              handful of model sentence structures, to generate Lorem Ipsum
              which looks reasonable. The generated Lorem Ipsum is therefore
              always free from repetition, injected humour, or
              non-characteristic words etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rts faq section area end -->
  <div class="shape-area">
    <img src="{% static 'images/faq/shape/01.png' %}" alt="" class="one" />
    <img src="{% static 'images/faq/shape/02.png' %}" alt="" class="two" />
    <img src="{% static 'images/faq/shape/03.png' %}" alt="" class="three" />
    <img src="{% static 'images/faq/shape/04.png' %}" alt="" class="four" />
  </div>
</div>
<!-- faq call to action area end -->

<!-- rts-testimonials-area start -->
{% include './partials/testimonials.html' %}
<!-- rts-testimonials-area end -->

<!-- blog area start -->
{% include './partials/blog2.html' %}
<!-- blog area start -->

<!-- subscription area start -->
{% include './partials/subscription2.html' %}
<!-- subscription area end -->

<div class="rts-footer-area footer-four rts-section-gap">
  <div class="container mb--65">
    <div class="row g-48 g-lg-0">
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Company</h5>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">We hire</a></li>
            <li><a href="#">Insights</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Resources</h5>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Help center</a></li>
            <li><a href="#">Ask for support</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Social</h5>
          <ul>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Legal</h5>
          <ul>
            <li><a href="{% url 'terms' %}">Terms of service</a></li>
            <li><a href="{% url 'privacyPolicy' %}">Privacy policy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
        <!-- single footer four wized end -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <!-- single footer four wized -->
        <div class="single-footer-four-wized">
          <h5 class="title">Newsletter</h5>
          <div class="footer-input-btn-between">
            <form action="#">
              <input required="" type="email" placeholder="Your email.." />
              <i class="fa-regular fa-envelope"></i>
              <button class="rts-btn btn-primary-4">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-area-four pt--65 mt-65 border-top">
          <a href="#" class="logo">
            <img src="{% static 'images/logo/logo-1.svg' %}" alt="logo" />
          </a>
          <p>© 2023 Fluxi, All right reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
