{% extends '../layout/layout.html' %} {% block content %}

<!-- single case studies -->
<div class="single-case-studies-bread-crumb-area pt--120 pb--80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-inner">
          <div class="pagimation">
            <a href="#">Home</a><i class="fa-regular fa-chevron-right"></i>
            <a href="#">Serviços</a><i class="fa-regular fa-chevron-right"></i>
            <a href="#" class="current">Ensino Fundamental II</a>
          </div>
          <h1 class="title split-collab">Ensino Fundamental II</h1>
          <p class="disc">
            6º ao 9º ano. Preparando para o futuro com responsabilidade.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-area">
    <img src="/static/images/product/shape/01.png" alt="" class="one" />
    <img src="/static/images/product/shape/02.png" alt="" class="two" />
    <img src="/static/images/product/shape/03.png" alt="" class="three" />
    <img src="/static/images/product/shape/04.png" alt="" class="four" />
  </div>
</div>
<!-- single case studies end -->

<!-- large image start -->
<div class="large-image-area rts-section-gapBottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="large-thumbnail">
          <img src="/static/images/banner/12.jpg" alt="banner" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- large image end -->

<!-- fluxi-strategy area start -->
<div class="fluxi-strategy-area rts-section-gapBottom">
  <div class="container-2">
    <div class="row">
      <div class="col-lg-8">
        <div class="strategy-left-content">
          <p class="disc">
            O Ensino Fundamental Anos Finais marca a transição para a juventude.
            Com o material SAS - líder em aprovações no ENEM - e o programa
            bilíngue PES English, preparamos nossos alunos para serem cidadãos
            globais sem perder suas raízes e valores.
          </p>
          <p class="disc">
            Nosso Projeto de Vida trabalha empreendedorismo, educação financeira
            e desenvolvimento socioemocional, preparando adolescentes maduros e
            conscientes de seu papel no mundo.
          </p>
          <p class="disc">
            É o momento de consolidar conhecimentos e desenvolver habilidades
            que farão diferença no Ensino Médio e na vida.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="strategy-right-area pl--80">
          <h4 href="#">Sistema SAS</h4>
          <h4 href="#">Bilíngue PES</h4>
          <h4 href="#">Projeto de Vida</h4>
          <h4 href="#">Simulados e Diagnósticos</h4>
          <h4 href="#">Monitoria</h4>
          <a href="#" class="btn-arrow arrow-rotate"
            >Proposta Pedagógica <i class="fa-light fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fluxi-strategy area end -->

<!-- rts service area start -->
<div class="rts-product-area">
  <div class="container-2">
    <div
      class="row service-relative align-items-center justify-content-sm-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50"
    >
      <div class="col-lg-6 col-md-6 col-sm-10">
        <div class="large-thumbnail">
          <a href="#" class="thumbnail">
            <img src="/static/images/product/38.jpg" alt="product" />
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-10 offset-lg-1">
        <div class="portfolio-content-wrapper-list">
          <h2 class="title split-collab">
            Educação <br />
            conectada
          </h2>
          <p class="disc">
            Nosso Observatório de Aprendizagem utiliza tecnologia de ponta para
            diagnosticar lacunas e personalizar o ensino. Com plataformas
            digitais e simulados regulares, acompanhamos o desenvolvimento de
            cada aluno, oferecendo suporte direcionado através de monitorias
            especializadas.
          </p>
        </div>
      </div>
      <div class="service--shape">
        <img
          src="/static/images/service/shape/04.png"
          alt="service"
          class="one"
        />
        <img
          src="/static/images/service/shape/06.png"
          alt="service"
          class="two"
        />
      </div>
    </div>
    <div
      class="row service-relative align-items-center justify-content-sm-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50"
    >
      <div class="col-lg-5 col-md-6 col-sm-10">
        <div class="portfolio-content-wrapper-list">
          <h2 class="title split-collab">
            Formação com <br />
            valores cristãos
          </h2>
          <p class="disc">
            Nosso Observatório de Aprendizagem utiliza tecnologia de ponta para
            diagnosticar lacunas e personalizar o ensino. Com plataformas
            digitais e simulados regulares, acompanhamos o desenvolvimento de
            cada aluno, oferecendo suporte direcionado através de monitorias
            especializadas.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-10 offset-lg-1">
        <div class="large-thumbnail d-flex justify-content-md-end">
          <a href="#" class="thumbnail">
            <img src="/static/images/product/39.jpg" alt="product" />
          </a>
        </div>
      </div>
      <div class="service--shape">
        <img
          src="/static/images/service/shape/04.png"
          alt="service"
          class="three"
        />
        <img
          src="/static/images/service/shape/06.png"
          alt="service"
          class="four"
        />
      </div>
    </div>
  </div>
</div>
<!-- rts service area end -->

<!-- short case studies area  -->
<div class="short-case-studies-area pb--60">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="short-case-studies-inner">
          <h3 class="title split-collab">
            Cidadãos do mundo com valores sólidos
          </h3>
          <p class="disc">
            O programa bilíngue PES desenvolve cinco competências essenciais:
            proficiência linguística, trabalho colaborativo, pensamento crítico,
            criatividade e consciência cultural global. Tudo isso sem abrir mão
            dos valores cristãos que fundamentam nossa educação.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- short case studies area end -->

<!-- rts image grid area start -->
<div class="rts-image-grid-area rts-section-gap">
  <div class="container">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-6 col-md-6">
        <div class="thumbnail-image-grid mb--30">
          <a href="#" class="thumbnail">
            <img src="/static/images/product/40.jpg" alt="" />
          </a>
        </div>
        <div class="thumbnail-image-grid">
          <a href="#" class="thumbnail">
            <img src="/static/images/product/41.jpg" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="thumbnail-image-grid mb--25">
          <a href="#" class="thumbnail">
            <img src="/static/images/product/42.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts image grid area end -->

{% endblock content %}
