{% extends '../layout/layout.html' %}

{% block content %}

    <!-- single sertvice area start -->
    <div class="single-service-banner-area rts-section-gapTop">
        <div class="container">
            <div class="row pt--100 pb--80 align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="banner-area-left-service-single">
                        <h1 class="title split-collab">Social <br>
                            <span>media</span> <br>
                            marketing
                        </h1>

                        <p class="disc">
                            Struggling to find PPC experts who really understand your business our world-class marketers would love to help.
                        </p>
                        <a href="{% url 'free' %}" class="rts-btn btn-primary arrow-rotate">Get free audit <i class="fa-light fa-arrow-right"></i></a>
                        <p class="mt--30 mb--0">No credit card required.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="thumbnail">
                        <img src="/static/images/service/06.jpg" alt="">
                        <img class="short-image" src="/static/images/service/12.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-area">
            <img src="/static/images/service/shape/02.png" alt="shape" class="one">
            <img src="/static/images/service/shape/03.png" alt="shape" class="two">
            <img src="/static/images/service/shape/04.png" alt="shape" class="three">
            <img src="/static/images/service/shape/05.png" alt="shape" class="four">
        </div>
    </div>
    <!-- single sertvice area end -->

    <!-- rts counter up area start -->
    <div class="rts-counterup-area rts-section-gapBottom">
        <div class="container">
            <div class="row pb--80">
                <div class="col-lg-12">
                    <div class="counter-upmain-wrapper-style-one service-single">
                        <!-- single counter up area start -->
                        <div class="single-counter-up">
                            <h3 class="title"><span class="counter">2.5</span>B</h3>
                            <p>Related keywords</p>
                        </div>
                        <!-- single counter up area end -->
                        <!-- single counter up area start -->
                        <div class="single-counter-up">
                            <h3 class="title"><span class="counter">100</span>M</h3>
                            <p>Competitors keywords</p>
                        </div>
                        <!-- single counter up area end -->
                        <!-- single counter up area start -->
                        <div class="single-counter-up">
                            <h3 class="title"><span class="counter">48</span>k</h3>
                            <p>Supported locations</p>
                        </div>
                        <!-- single counter up area end -->
                        <!-- single counter up area start -->
                        <div class="single-counter-up">
                            <h3 class="title"><span class="counter">2004</span></h3>
                            <p>Year founded</p>
                        </div>
                        <!-- single counter up area end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts counter up area end -->

    <!-- rts service area start -->
    <div class="rts-product-area">
        <div class="container">
            <div class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50">
                <div class="col-lg-6 col-md-6">
                    <div class="large-thumbnail">
                        <a href="#" class="thumbnail">
                            <img src="/static/images/product/29.jpg" width="505" height="400" alt="product">
                        </a>
                        <div class="small-image">
                            <img class="sm-right" src="/static/images/product/32.png" width="200" alt="product">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 offset-lg-1">
                    <div class="portfolio-content-wrapper-list">
                        <h2 class="title split-collab">Combining search <br>
                            engine marketing</h2>
                        <p class="disc">
                            For over four decades, Tenet Partners has applied our proven methodology to deliver compelling corporate brands for hundreds of organizations.
                        </p>
                    </div>
                </div>
                <div class="service--shape">
                    <img src="/static/images/service/shape/04.png" alt="service" class="one">
                    <img src="/static/images/service/shape/06.png" alt="service" class="two">
                </div>
            </div>
            <div class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50">
                <div class="col-lg-5 col-md-6">
                    <div class="portfolio-content-wrapper-list">
                        <h2 class="title split-collab">Conversion rate <br> optimization (CRO)</h2>
                        <p class="disc">
                            For over four decades, Tenet Partners has applied our proven methodology to deliver compelling corporate brands for hundreds of organizations.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6  offset-lg-1">
                    <div class="large-thumbnail d-flex justify-content-end">
                        <a href="#" class="thumbnail">
                            <img src="/static/images/product/30.jpg" width="505" height="400" alt="product">
                        </a>
                        <div class="small-image">
                            <img class="sm-right left" src="/static/images/product/33.png" width="268" alt="product">
                        </div>
                    </div>
                </div>
                <div class="service--shape">
                    <img src="/static/images/service/shape/04.png" alt="service" class="three">
                    <img src="/static/images/service/shape/06.png" alt="service" class="four">
                </div>
            </div>
            <div class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50">
                <div class="col-lg-6 col-md-6">
                    <div class="large-thumbnail">
                        <a href="#" class="thumbnail">
                            <img src="/static/images/product/31.jpg" width="505" height="400" alt="product">
                        </a>
                        <div class="small-image">
                            <img class="sm-right" src="/static/images/product/34.png" alt="product">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 offset-lg-1">
                    <div class="portfolio-content-wrapper-list">
                        <h2 class="title split-collab">Real certified Google <br>
                            Ads professionals</h2>
                        <p class="disc">
                            For over four decades, Tenet Partners has applied our proven methodology to deliver compelling corporate brands for hundreds of organizations.
                        </p>
                    </div>
                </div>
                <div class="service--shape">
                    <img src="/static/images/service/shape/04.png" alt="service" class="five">
                    <img src="/static/images/service/shape/06.png" alt="service" class="six">
                </div>
            </div>
        </div>
    </div>
    <!-- rts service area end -->

    <!-- working process are start -->
    <div class="rts-working-porcess-area-two ptb--160 bg-dark-border-radious-sd">
        <div class="container-1058">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-style-one-center">
                        <span class="pre skew-up">Our process</span>
                        <h2 class="title skew-up">How we work to help <br>
                            your business grow</h2>
                    </div>
                </div>
            </div>
            <div class="row g-48 mt--0">
                <div class="col-lg-6 col-md-6">
                    <div class="working-process-right-area-one">
                        <div class="thumbnail">
                            <img class="large" src="/static/images/working-process/02.png" alt="working-process">
                            <img src="/static/images/working-process/01.png" alt="" class="small">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="working-process-accordion-one">
                        <div class="accordion" id="accordionExamples">
                            <div class="accordion-item show">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        01. Creating a strategy
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExamples">
                                    <div class="accordion-body">
                                        Includes using high-quality keywords to write strategic content that ranks, as well as descriptive metadata and meaningful image alt text.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        02. Building your site
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExamples">
                                    <div class="accordion-body">
                                        Includes using high-quality keywords to write strategic content that ranks, as well as descriptive metadata and meaningful image alt text.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        03. Website optimization
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExamples">
                                    <div class="accordion-body">
                                        Includes using high-quality keywords to write strategic content that ranks, as well as descriptive metadata and meaningful image alt text.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        04. Website Seo
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExamples">
                                    <div class="accordion-body">
                                        Includes using high-quality keywords to write strategic content that ranks, as well as descriptive metadata and meaningful image alt text.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- working process are end -->

    {% include  '../partials/blog.html' %}
    
    <!-- subscription area start -->
    {% include  '../partials/subscription.html' %}
    <!-- subscription area end -->

{% endblock content %}