{% extends '../layout/layout.html' %}

{% block content %}

    <!-- single case studies -->
    <div class="single-case-studies-bread-crumb-area area-2 pt--120 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <div class="pagimation">
                            <a href="#">Home</a><i class="fa-regular fa-chevron-right"></i>
                            <a href="#">Blog</a><i class="fa-regular fa-chevron-right"></i>
                            <a href="#" class="current">Blog Grid</a>
                        </div>
                        <h1 class="title split-collab">Fluxi Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single case studies end -->

    <!-- rts service area start -->
    <section class="fluxi-hero-section inner grid-2 rts-section-gapBottom inner-post">
        <div class="fluxi-hero">
            <div class="container">
                <div class="fluxi-full-hero-content">
                    <div class="row gx-5 sticky-coloum-wrap">
                        <div class="col-xl-8 col-lg-8">
                            <div class="fluxi-left-post">
                                <div class="row mt--0">
                                    <div class="col-lg-6 col-md-6">
                                        <!-- single blog area start -->
                                        <div class="single-blog-area-style-one">
                                            <a href="blogDetails.php" class="thumbnail">
                                                <img src="/static/images/blog/01.png" alt="blog-image">
                                            </a>
                                            <div class="inner-content-wrapper">
                                                <a href="blogDetails.php">
                                                    <h6 class="title">
                                                        Which tool seems the best for content writing strategy?
                                                    </h6>
                                                </a>
                                                <div class="bottom-area">
                                                    <span class="admin">Amir Nisi</span>
                                                    <span class="date">•   25 October, 2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single blog area end -->
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <!-- single blog area start -->
                                        <div class="single-blog-area-style-one">
                                            <a href="blogDetails.php" class="thumbnail">
                                                <img src="/static/images/blog/02.png" alt="blog-image">
                                            </a>
                                            <div class="inner-content-wrapper">
                                                <a href="blogDetails.php">
                                                    <h6 class="title">
                                                        Getting eyeballs on what you write for a business is tricky
                                                    </h6>
                                                </a>
                                                <div class="bottom-area">
                                                    <span class="admin">Amir Nisi</span>
                                                    <span class="date">•   25 October, 2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single blog area end -->
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <!-- single blog area start -->
                                        <div class="single-blog-area-style-one">
                                            <a href="blogDetails.php" class="thumbnail">
                                                <img src="/static/images/blog/03.png" alt="blog-image">
                                            </a>
                                            <div class="inner-content-wrapper">
                                                <a href="blogDetails.php">
                                                    <h6 class="title">
                                                        More than just buzzwords for marketing concepts of SEO
                                                    </h6>
                                                </a>
                                                <div class="bottom-area">
                                                    <span class="admin">Amir Nisi</span>
                                                    <span class="date">•   25 October, 2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single blog area end -->
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <!-- single blog area start -->
                                        <div class="single-blog-area-style-one">
                                            <a href="blogDetails.php" class="thumbnail">
                                                <img src="/static/images/blog/01.png" alt="blog-image">
                                            </a>
                                            <div class="inner-content-wrapper">
                                                <a href="blogDetails.php">
                                                    <h6 class="title">
                                                        Which tool seems the best for content writing strategy?
                                                    </h6>
                                                </a>
                                                <div class="bottom-area">
                                                    <span class="admin">Amir Nisi</span>
                                                    <span class="date">•   25 October, 2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single blog area end -->
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <!-- single blog area start -->
                                        <div class="single-blog-area-style-one">
                                            <a href="blogDetails.php" class="thumbnail">
                                                <img src="/static/images/blog/02.png" alt="blog-image">
                                            </a>
                                            <div class="inner-content-wrapper">
                                                <a href="blogDetails.php">
                                                    <h6 class="title">
                                                        Getting eyeballs on what you write for a business is tricky
                                                    </h6>
                                                </a>
                                                <div class="bottom-area">
                                                    <span class="admin">Amir Nisi</span>
                                                    <span class="date">•   25 October, 2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single blog area end -->
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <!-- single blog area start -->
                                        <div class="single-blog-area-style-one">
                                            <a href="blogDetails.php" class="thumbnail">
                                                <img src="/static/images/blog/03.png" alt="blog-image">
                                            </a>
                                            <div class="inner-content-wrapper">
                                                <a href="blogDetails.php">
                                                    <h6 class="title">
                                                        More than just buzzwords for marketing concepts of SEO
                                                    </h6>
                                                </a>
                                                <div class="bottom-area">
                                                    <span class="admin">Amir Nisi</span>
                                                    <span class="date">•   25 October, 2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single blog area end -->
                                    </div>
                                </div>
                            </div>
                            <div class="rts-fluxi-pagination">
                                <ul>
                                    <li><button class="active">01</button></li>
                                    <li><button>02</button></li>
                                    <li><button>03</button></li>
                                    <li><button><i class="fa-solid fa-chevrons-right"></i></button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 sticky-coloum-item">
                            <div class="fluxi-right-ct-1">
                                <div class="rts-single-wized search">
                                    <div class="wized-body mt--0">
                                        <div class="rts-search-wrapper">
                                            <input class="Search" type="text" placeholder="Enter Keyword">
                                            <button><i class="fal fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single wizered End -->
                                <!-- single wizered start -->
                                <div class="rts-single-wized Categories">
                                    <div class="wized-header">
                                        <h5 class="title">
                                            Categories
                                        </h5>
                                    </div>
                                    <div class="wized-body">
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Business Solution <i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Strategy Growth<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Finance Solution<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Investment Policy<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Tax Managment<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                    </div>
                                </div>
                                <!-- single wizered End -->
                                <!-- single wizered start -->
                                <div class="rts-single-wized Recent-post">
                                    <div class="wized-header">
                                        <h5 class="title">
                                            Recent Posts
                                        </h5>
                                    </div>
                                    <div class="wized-body">
                                        <!-- recent-post -->
                                        <div class="recent-post-single">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/static/images/blog/01.png" alt="Blog_post"></a>
                                            </div>
                                            <div class="content-area text-start">
                                                <div class="user">
                                                    <i class="fal fa-clock"></i>
                                                    <span>15 Jan, 2024</span>
                                                </div>
                                                <a class="post-title" href="#">
                                                    <h6 class="title">We would love to share a similar experience</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- recent-post End -->
                                        <!-- recent-post -->
                                        <div class="recent-post-single">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/static/images/blog/02.png" alt="Blog_post"></a>
                                            </div>
                                            <div class="content-area text-start">
                                                <div class="user">
                                                    <i class="fal fa-clock"></i>
                                                    <span>15 Jan, 2024</span>
                                                </div>
                                                <a class="post-title" href="#">
                                                    <h6 class="title">We would love to share a similar experience</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- recent-post End -->
                                        <!-- recent-post -->
                                        <div class="recent-post-single">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/static/images/blog/03.png" alt="Blog_post"></a>
                                            </div>
                                            <div class="content-area text-start">
                                                <div class="user">
                                                    <i class="fal fa-clock"></i>
                                                    <span>15 Jan, 2024</span>
                                                </div>
                                                <a class="post-title" href="#">
                                                    <h6 class="title">We would love to share a similar experience</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- recent-post End -->
                                    </div>
                                </div>
                                <!-- single wizered End -->
                                <!-- single wizered start -->
                                <div class="rts-single-wized">
                                    <div class="wized-header">
                                        <h5 class="title">
                                            Popular Tags
                                        </h5>
                                    </div>
                                    <div class="wized-body">
                                        <div class="tags-wrapper">
                                            <a href="#">Services</a>
                                            <a href="#">Business</a>
                                            <a href="#">Growth</a>
                                            <a href="#">Finance</a>
                                            <a href="#">UI/UX Design</a>
                                            <a href="#">Solution</a>
                                            <a href="#">Speed</a>
                                            <a href="#">Strategy</a>
                                            <a href="#">Technology</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- rts service area end -->

{% endblock content %}