{% extends '../layout/layout.html' %}

{% block content %}

    <!-- single case studies -->
    <div class="single-case-studies-bread-crumb-area area-2 pt--120 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <div class="pagimation">
                            <a href="#">Home</a><i class="fa-regular fa-chevron-right"></i>
                            <a href="#">Blog</a><i class="fa-regular fa-chevron-right"></i>
                            <a href="#" class="current">Fluxi</a>
                        </div>
                        <h1 class="title split-collab">Blog Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single case studies end -->

    <!-- rts service area start -->
    <section class="fluxi-hero-section inner details rts-section-gapBottom inner-post">
        <div class="fluxi-hero">
            <div class="container">
                <div class="fluxi-full-hero-content">
                    <div class="row gx-5 sticky-coloum-wrap">
                        <div class="col-xl-8 col-lg-8">
                            <div class="fluxi-left-post">
                                <div class="single-blog-area-style-one">
                                    <a href="#" class="thumbnail">
                                        <img class="w-100" src="/static/images/blog/05.jpg" alt="">
                                    </a>
                                    <div class="inner-content-wrapper text-start">
                                        <div class="bottom-area justify-content-start mb--10">
                                            <span class="admin">Amir Nisi</span>
                                            <span class="date"><span>•</span> 25 October, 2023</span>
                                        </div>
                                        <h6 class="title text-start">
                                            This banking crisis won't wreck the economy but you still have the choice.
                                        </h6>
                                    </div>
                                </div>
                                <div class="post-panel">
                                    <div class="post-content">
                                        <p class="first-text">
                                            She started her blog exactly six months before I launched Camels & Chocolate, and she really set the bar high for my own blog birthday, Y’all this summer! I’ve already been brainstorming party ideas … who wants to come? It’s no coincidence that Buster Keaton and Charlot’s movies of the and award-winning chefs about what exactly makes their hometowns In fact, not being able to rely on spoken word made them better storytellers. They fully understood and used the power of showing without words. A range of amenities provides many things to do in Bellevue. About 40 percent of the city’s population are minorities, which contributes to an overall diverse range of lifestyles and ideas.
                                        </p>
                                        <p>I talked to climbers, Olympic mountain bikers, musicians, and award-winning chefs about what exactly makes their hometowns so special and fun.</p>
                                        <div class="desc-image">
                                            <div class="image">
                                                <img src="/static/images/blog/02.png" width="394" alt="">
                                            </div>
                                        </div>
                                        <p>Bike paths and sidewalks make getting to and from the city’s many festivals, museums, restaurants and music venues easy. A range of amenities provides many things to do in Bellevue. About 40 percent of the city’s population are minorities, which contributes to an overall diverse range of lifestyles and ideas.</p>
                                        <p>While Denver sits at the base of the Rocky Mountains, it’s not considered a mountain town since it takes at least an hour to get to the Rockies for snowboarding and ski activities, a local expert explained. Olympic mountain bikers, musicians, and award-winning chefs about what exactly makes their hometowns so special and fun.</p>
                                        <p>In fact, not being able to rely on spoken word made them better storytellers. They fully understood and used the power of showing without words. They fully understood and used the power of showing without words. They fully understood and used the power of showing without words.</p>
                                        <h4>Capital of Texas</h4>
                                        <p>Visual storytelling is simply the way most brands will decide to go in 2016 & beyond, as they try to tell their story to their customers the oldest and most important unwritten rule in film industry says that you shouldn’t rely much on words to tell your story. In fact, you should rely on them as less as possible. It’s no coincidence that Buster Keaton and Charlot’s movies remain among the biggest classic movies of all time. In fact, not being able to rely on spoken word made them better storytellers. They fully understood and used the power of showing without words.</p>
                                        <p>While Denver sits at the base of the Rocky Mountains, it’s not considered a mountain town since it takes at least an hour to get to the Rockies for snowboarding and ski activities, a local expert explained sits at the base of the Rocky Mountains, it’s not considered a mountain town since it takes at least an hour to get to the Rockies for snowboarding and ski activities, a local expert explained.</p>
                                        <div class="image mb--30">
                                            <img src="/static/images/blog/06.jpg" alt="">
                                        </div>
                                        <p>While Denver sits at the base of the Rocky Mountains, it’s not considered a mountain town since it takes at least an hour to get to the Rockies for snowboarding and ski activities, a local expert explained. Olympic mountain bikers, musicians, and award-winning chefs about what exactly makes their hometowns so special and fun. <br>
                                            In fact, not being able to rely on spoken word made them better storytellers. They fully understood and used the power of showing without words.</p>
                                        <p>Probably the oldest and most important unwritten rule in film industry says that you shouldn’t rely much on words to tell your story. In fact, you should rely on them as less as possible is simply the way most brands will decide to go in 2016 & beyond, as they try to tell their story to their customers.</p>
                                        <h4>Great Schools and Entertainment</h4>
                                        <p>Education is a high point when it comes to analyzing the quality of life factors that make Ann Arbor one of the best places to live. The University of Michigan, which has 43,000 students, makes Ann Arbor a perennial candidate for our annual ranking of the best college towns and plays a big role in the city’s economy and culture.</p>
                                        <p>While Denver sits at the base of the Rocky Mountains, it’s not considered a mountain town since it takes considered at least an hour to get to the Rockies for snowboarding and ski activities, a local expert explained sits at the base of the Rocky Mountains, it’s not considered a mountain town since it takes at least an hour to get to the Rockies for snowboarding and ski activities, a local expert explained.</p>
                                        <div class="desc-image-2">
                                            <div class="image">
                                                <img src="/static/images/blog/03.png" width="394" alt="">
                                            </div>
                                        </div>
                                        <p>Bike paths and sidewalks make getting to and from the city’s many festivals, museums, restaurants and music venues easy. A range of amenities provides many things to do in Bellevue. About 40 percent of the city’s population are minorities, which contributes to an overall diverse range of lifestyles and ideas.</p>
                                        <p>While Denver sits at the base of the Rocky Mountains, it’s not considered a mountain town since it takes at least an hour to get to the Rockies for snowboarding and ski activities, a local expert explained. Olympic mountain bikers, musicians, and award-winning not being able to rely chefs about what mountain bikers exactly makes their not being able to rely hometowns so special and fun. In fact, not being able to rely on spoken word made them better storytellers. They fully understood and used the power of showing without words. They fully understood and used the power of showing without words.</p>
                                        <p>Probably the oldest and most important unwritten rule in film industry says that you shouldn’t rely much on words to tell your story. In fact, you should rely on them as less as possible is simply the way most brands will decide to go in 2016 & beyond, as they try to tell their story to their customers.</p>
                                        <p>I talked to climbers, Olympic mountain bikers, musicians, and award-winning chefs about what exactly makes their hometowns so special and fun.</p>
                                    </div>
                                    <div class="post-footer">
                                        <ul class="nav-x gap-narrow text-primary">
                                            <li><span class="text-black dark:text-white me-narrow">Tags:</span></li>
                                            <li>
                                                <a href="#" class="gap-0">SEO <span class="text-black dark:text-white">,</span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="gap-0">Business <span class="text-black dark:text-white">,</span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="gap-0">Marketing <span class="text-black dark:text-white">,</span></a>
                                            </li>
                                            <li><a href="#" class="gap-0">Startup</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-author">
                                        <div class="left-image">
                                            <img src="/static/images/blog/author.png" alt="">
                                        </div>
                                        <div class="right-content text-center">
                                            <h4 class="heading-title">Parv Infotech</h4>
                                            <p class="desc">I'm a front-end developer, UI/UX designer. In my free,
                                                I chase my dog all over the house and collect dust from my window sill.
                                            </p>
                                            <ul class="author-social">
                                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                                            </ul>
                                            <div class="author-sign">
                                                <img src="/static/images/blog/signature.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-form-area mt--50">
                                        <h4 class="form-title">Leave a Reply</h4>
                                        <p class="desc">Your email address will not be published. Required fields are marked *</p>
                                        <form class="post-form" action="#">
                                            <!-- single inpout-area -->
                                            <div class="single-input-area">
                                                <label for="name">Full name</label>
                                                <input id="name" type="text" placeholder="Your name" required="">
                                                <i class="fa-regular fa-user"></i>
                                            </div>
                                            <!-- single inpout-area end -->
                                            <!-- single inpout-area -->
                                            <div class="single-input-area">
                                                <label for="email">Email address</label>
                                                <input id="email" type="text" placeholder="Your email">
                                                <i class="fa-regular fa-envelope"></i>
                                            </div>
                                            <!-- single inpout-area end -->
                                            <!-- single inpout-area -->
                                            <div class="single-input-area text-area">
                                                <label for="message">Comment</label>
                                                <textarea id="message" placeholder="Comment"></textarea>
                                                <i class="fa-regular fa-message"></i>
                                            </div>
                                            <!-- single inpout-area end -->
                                            <button class="rts-btn btn-primary">Post Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 sticky-coloum-item">
                            <div class="fluxi-right-ct-1">
                                <div class="rts-single-wized search">
                                    <div class="wized-body mt--0">
                                        <div class="rts-search-wrapper">
                                            <input class="Search" type="text" placeholder="Enter Keyword">
                                            <button><i class="fal fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single wizered End -->
                                <!-- single wizered start -->
                                <div class="rts-single-wized Categories">
                                    <div class="wized-header">
                                        <h5 class="title">
                                            Categories
                                        </h5>
                                    </div>
                                    <div class="wized-body">
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Business Solution <i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Strategy Growth<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Finance Solution<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Investment Policy<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                        <!-- single categoris -->
                                        <ul class="single-categories">
                                            <li><a href="#">Tax Managment<i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                        <!-- single categoris End -->
                                    </div>
                                </div>
                                <!-- single wizered End -->
                                <!-- single wizered start -->
                                <div class="rts-single-wized Recent-post">
                                    <div class="wized-header">
                                        <h5 class="title">
                                            Recent Posts
                                        </h5>
                                    </div>
                                    <div class="wized-body">
                                        <!-- recent-post -->
                                        <div class="recent-post-single">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/static/images/blog/01.png" alt="Blog_post"></a>
                                            </div>
                                            <div class="content-area text-start">
                                                <div class="user">
                                                    <i class="fal fa-clock"></i>
                                                    <span>15 Jan, 2024</span>
                                                </div>
                                                <a class="post-title" href="#">
                                                    <h6 class="title">We would love to share a similar experience</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- recent-post End -->
                                        <!-- recent-post -->
                                        <div class="recent-post-single">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/static/images/blog/02.png" alt="Blog_post"></a>
                                            </div>
                                            <div class="content-area text-start">
                                                <div class="user">
                                                    <i class="fal fa-clock"></i>
                                                    <span>15 Jan, 2024</span>
                                                </div>
                                                <a class="post-title" href="#">
                                                    <h6 class="title">We would love to share a similar experience</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- recent-post End -->
                                        <!-- recent-post -->
                                        <div class="recent-post-single">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/static/images/blog/03.png" alt="Blog_post"></a>
                                            </div>
                                            <div class="content-area text-start">
                                                <div class="user">
                                                    <i class="fal fa-clock"></i>
                                                    <span>15 Jan, 2024</span>
                                                </div>
                                                <a class="post-title" href="#">
                                                    <h6 class="title">We would love to share a similar experience</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- recent-post End -->
                                    </div>
                                </div>
                                <!-- single wizered End -->
                                <!-- single wizered start -->
                                <div class="rts-single-wized">
                                    <div class="wized-header">
                                        <h5 class="title">
                                            Popular Tags
                                        </h5>
                                    </div>
                                    <div class="wized-body">
                                        <div class="tags-wrapper">
                                            <a href="#">Services</a>
                                            <a href="#">Business</a>
                                            <a href="#">Growth</a>
                                            <a href="#">Finance</a>
                                            <a href="#">UI/UX Design</a>
                                            <a href="#">Solution</a>
                                            <a href="#">Speed</a>
                                            <a href="#">Strategy</a>
                                            <a href="#">Technology</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- rts service area end -->

{% endblock content %}
