{% extends 'layout/layout.html' %} 
{% block content %}

<!-- contact banner area srart -->
<div class="contact-banner-area-start rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- banner main inner contact areas start -->
        <div class="banner-inner-area-contact-inner">
          <h1 class="title skew-up-2">
            Don’t hesitate to <br />
            <span> reach out</span>
          </h1>
          <p class="disc">
            Amet tempor ornare a nunc mauris. Arcu dui ut ultrices nunc mattis
            vitae. Aliquam pulvinar libero iaculis iaculis nullam urna.
          </p>
        </div>
        <!-- banner main inner contact areas end -->
      </div>
    </div>
  </div>
  <div class="shape-area">
    <img src="/static/images/product/shape/01.png" alt="" class="one" />
    <img src="/static/images/product/shape/02.png" alt="" class="two" />
    <img src="/static/images/product/shape/03.png" alt="" class="three" />
    <img src="/static/images/product/shape/04.png" alt="" class="four" />
  </div>
</div>
<!-- contact banner area end -->

<div class="rts-contact-form-area contact-form-page rts-section-gapBottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form
          class="contact-form"
          action="mailer"
          method="post"
          id="contact-form"
        >
          <!-- single inpout-area -->
          <div class="single-input-area">
            <label for="name">Full name</label>
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Your name"
              required
            />
            <i class="fa-regular fa-user"></i>
          </div>
          <!-- single inpout-area end -->
          <!-- single inpout-area -->
          <div class="single-input-area">
            <label for="email">Endereço de Email</label>
            <input
              id="email"
              name="email"
              type="text"
              placeholder="Seu email jose@gmail.com"
              required
            />
            <i class="fa-regular fa-envelope"></i>
          </div>
          <!-- single inpout-area end -->
          <!-- single inpout-area -->
          <div class="single-input-area text-area">
            <label for="message">Sua mensagem</label>
            <textarea
              id="message"
              name="message"
              placeholder="Sua mensagem"
            ></textarea>
            <i class="fa-regular fa-message"></i>
          </div>
          <!-- single inpout-area end -->
          <button type="submit" class="rts-btn btn-primary">
            Send message <i class="fa-solid fa-location-arrow"></i>
          </button>

          <!-- message send confirmation -->
          <div
            id="form-messages"
            class="text-center text-primary mt-5 text-capitalize"
          ></div>
          <!-- message send confirmation end -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- rts single contact area start -->
<div class="rts-contact-single-area rts-section-gap2Bottom pt--120">
  <div class="container">
    <div class="row g-48">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- single contact area start -->
        <div class="single-contact-inner-info">
          <div class="icon">
            <img src="/static/images/contact/01.svg" alt="service" />
          </div>
          <h5 class="title">Endereço</h5>
          <p>Passagem Miranda, 300 (Coqueiro)</p>
          <p>CEP 67113-200 Ananindeua/PA</p>
        </div>
        <!-- single contact area end -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- single contact area start -->
        <div class="single-contact-inner-info mid">
          <div class="icon">
            <img src="/static/images/contact/02.svg" alt="service" />
          </div>
          <h5 class="title">Email</h5>
          <p>sayhello@fluxi.com</p>
        </div>
        <!-- single contact area end -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- single contact area start -->
        <div class="single-contact-inner-info">
          <div class="icon">
            <img src="/static/images/contact/03.svg" alt="service" />
          </div>
          <h5 class="title">Phone</h5>
          <p>+(239) 555-0108</p>
        </div>
        <!-- single contact area end -->
      </div>
    </div>
  </div>
</div>
<!-- rts single contact area end -->

<!-- faq call to action area start -->
<div class="faq-cta-main-wrapper-bg rts-section-gap2">
  <!-- rts faq section area start -->
  <div class="rts-faq-area-full-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-area-start">
            <div class="title-style-one-center">
              <span class="pre skew-up">Our FAQ</span>
              <h2 class="title skew-up">
                Got questions? We’ve got<br />answers
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt--60">
        <div class="col-lg-12">
          <div
            class="accordion-faq-area-border-bottom-style pb--100 style-four"
          >
            <div class="accordion" id="accordionExamples">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    What are your core services as a UX design and branding
                    firm?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExamples"
                >
                  <div class="accordion-body">
                    <p class="disc">
                      However, our passion for branding and the demand from our
                      clients led us to expand our offering to provide
                      full-service brand design practice and web design and
                      development of marketing websites.
                    </p>
                    <p class="disc">
                      Today, our projects encompass a wide range, from building
                      new products and defining brands to revitalizing existing
                      mobile apps, websites, and enterprise software. We
                      specialize in crafting digital products that
                      wholeheartedly embody the brand's personality and deliver
                      delightful experiences to your customers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Do you work with clients in different timezones?
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExamples"
                >
                  <div class="accordion-body">
                    <p class="disc">
                      However, our passion for branding and the demand from our
                      clients led us to expand our offering to provide
                      full-service brand design practice and web design and
                      development of marketing websites.
                    </p>
                    <p class="disc">
                      Today, our projects encompass a wide range, from building
                      new products and defining brands to revitalizing existing
                      mobile apps, websites, and enterprise software. We
                      specialize in crafting digital products that
                      wholeheartedly embody the brand's personality and deliver
                      delightful experiences to your customers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    What separates you from other branding and web design
                    agencies?
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExamples"
                >
                  <div class="accordion-body">
                    <p class="disc">
                      However, our passion for branding and the demand from our
                      clients led us to expand our offering to provide
                      full-service brand design practice and web design and
                      development of marketing websites.
                    </p>
                    <p class="disc">
                      Today, our projects encompass a wide range, from building
                      new products and defining brands to revitalizing existing
                      mobile apps, websites, and enterprise software. We
                      specialize in crafting digital products that
                      wholeheartedly embody the brand's personality and deliver
                      delightful experiences to your customers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    How much does hiring you for a design project cost?
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExamples"
                >
                  <div class="accordion-body">
                    <p class="disc">
                      However, our passion for branding and the demand from our
                      clients led us to expand our offering to provide
                      full-service brand design practice and web design and
                      development of marketing websites.
                    </p>
                    <p class="disc">
                      Today, our projects encompass a wide range, from building
                      new products and defining brands to revitalizing existing
                      mobile apps, websites, and enterprise software. We
                      specialize in crafting digital products that
                      wholeheartedly embody the brand's personality and deliver
                      delightful experiences to your customers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    Do you work with startups?
                  </button>
                </h2>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFive"
                  data-bs-parent="#accordionExamples"
                >
                  <div class="accordion-body">
                    <p class="disc">
                      However, our passion for branding and the demand from our
                      clients led us to expand our offering to provide
                      full-service brand design practice and web design and
                      development of marketing websites.
                    </p>
                    <p class="disc">
                      Today, our projects encompass a wide range, from building
                      new products and defining brands to revitalizing existing
                      mobile apps, websites, and enterprise software. We
                      specialize in crafting digital products that
                      wholeheartedly embody the brand's personality and deliver
                      delightful experiences to your customers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSix"
                    aria-expanded="false"
                    aria-controls="collapseSix"
                  >
                    Can you help us redesign our B2B/enterprise software?
                  </button>
                </h2>
                <div
                  id="collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingSix"
                  data-bs-parent="#accordionExamples"
                >
                  <div class="accordion-body">
                    <p class="disc">
                      However, our passion for branding and the demand from our
                      clients led us to expand our offering to provide
                      full-service brand design practice and web design and
                      development of marketing websites.
                    </p>
                    <p class="disc">
                      Today, our projects encompass a wide range, from building
                      new products and defining brands to revitalizing existing
                      mobile apps, websites, and enterprise software. We
                      specialize in crafting digital products that
                      wholeheartedly embody the brand's personality and deliver
                      delightful experiences to your customers.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rts faq section area end -->
  <div class="shape-area">
    <img src="/static/images/faq/shape/01.png" alt="" class="one" />
    <img src="/static/images/faq/shape/02.png" alt="" class="two" />
    <img src="/static/images/faq/shape/03.png" alt="" class="three" />
    <img src="/static/images/faq/shape/04.png" alt="" class="four" />
  </div>
</div>
<!-- faq call to action area end -->

<!-- rts-testimonials-area start -->
{% include './partials/testimonials.html' %}
<!-- rts-testimonials-area end -->

<!-- blog area start -->
{% include './partials/blog.html' %}
<!-- blog area end -->

{% endblock content %}
