<!DOCTYPE html>
<html lang="pt-BR" prefix="og: http://ogp.me/ns#">
  {% include 'partials/head.html' %}

  <body>
    {% if header %} {% include 'partials/header.html' %} {% endif %} {% block
    content %} {% endblock %} {% if footer %} {% include 'partials/footer.html'
    %} {% endif %}
    <div id="anywhere-home" class=""></div>

    {% include 'partials/sideBar.html' %} {% include 'partials/preLoader.html'
    %} {% include 'partials/themeMode.html' %} {% include
    'partials/progress.html' %} {% include 'partials/script.html' %}
  </body>
</html>
